@import "../default";
@import "../mixin";
*{
    box-sizing: border-box;
}
.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-image: url(../img/03四島奇旅/四島奇旅底圖.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

// loading遮蓋區
.loading-wrapper{
    @include loading-wrapper;
}

// loading燈塔
 .loading {
    @include loading;
}


// logo
.logo {
    @include logo;
}

// menu開關
.menu{
    @include menu;
}

// menu效果
.menu-btnline.active,
.menu-text.active,
.menu-btn.active{
    display: none;
}

.menu.active
{
    background-color: #a1c143;
}
// 展開的menu// 未展開尺寸
.l-menu{
    @include l-menu;
}

// 展開尺寸
.l-menu.active{
    @include  l-menu-active;
}  
  


.page-navbar{
    @include nav-word-l;
    .container{
        nav{
            @include navbar-style;
            a{
                text-decoration: none;
            }
            .title{
                @include nav-word-l; 
            }
            .name{
                @include nav-word-s;
                font-weight: 400;
                display: flex;
                align-items: center;
                transition:0.3s;
                opacity: 0.5;
                .icon{
                    @include icon;
                }
                // &:hover .icon{
                //     opacity: 1;
                // }
                &:hover {
                    opacity: 1;
                    font-weight: 900;
                }
            }
            //針對不同頁面強調所對應的navbar標題
            .name-1{
                font-weight: 600;
                opacity: 1;
                .icon{
                    opacity: 1;
                }
            }
        }
    }
}

.content-box{
    position: relative;
    padding: 2% 0 15% 0;
    @media (max-width: 576px){
        padding: 2% 0 25% 0;
        margin-right: 0;
        margin-left: 0; 
    }    
    .page-title{
        margin: 50px auto;
        @media (max-width: 992px){
            margin: 50px auto 0 auto;
        }
        h1{
           @include page-title-style;
           margin-bottom: 0; 
        } 
        h3 {
            @include Sub-standard-style;
        }    
    }
    .content{
        padding: 15px;
        .text-box{
            @media (max-width: 576px){
                padding: 5% 0 0 0;
            }
            p{
            font-size: 22px;
            letter-spacing: 3px;
            margin-bottom: 0;
            text-align: justify;
            @media (max-width: 992px){
                font-size: 18px;
            }
            @media (max-width: 768px){
                font-size: 15px;
                padding-top: 5%;
            }
            } 
        }
        .text-box-l{
            @media (max-width: 576px){
                padding: 5% 0 0 0;
            }
        }
        .title{
            @media (max-width: 576px){
                padding: 0;
            }
            img{
                @media (max-width: 992px){
                    width: 70%;
                }
                @media (max-width: 576px){
                    width: 60px;
                    padding-right: 15%;
                }
            }
        }
        .title-l{
            @media (max-width: 576px){
                padding: 0;
            }
            img{
                @media (max-width: 576px){
                    width: 60px;
                    padding-right: 0;
                    padding-left: 15%;
                }
            }
        }
    }
    .temple{
        position: absolute;
        top: 42%;
        right: 0;
        @media (max-width: 992px){
            top: 46%;
        }
    }
    .plant{
        position: absolute;
        bottom: 10%;
        left: 0;
        @media (max-width: 992px){
            bottom: 8%;
        }
        @media (max-width: 576px){
            bottom: 6%;
        }
    }
    .illustration{
        @media (max-width: 1200px){
            width: 10%; 
         }
         @media (max-width: 992px){
             width: 12%;
         } 
         @media (max-width: 768px){
             width: 14%;
         }
         @media (max-width: 576px){
             width: 17%;
         }
     }
}
// 波浪
.wave {
    width: 100vw;
    position: fixed;
    bottom: 0;
    @media (max-width: 1200px){
        height: 70px;
    }
    @media (max-width: 576px){
        height: 55px;
    }
}
footer{
    position: relative;
    @include footer;
    .boat {
        position: absolute;
        right: 5%;
        bottom: 40px;
        @media (max-width: 992px){
            width: 180px;
        }
        @media (max-width: 576px){
            width: 100px;
        }
        
    }
} 