@import "../default";
@import "../mixin";
* {
    box-sizing: border-box;
}
.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-image: url(../img/04出發四島/出發四島-底圖.png);
    // background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

// loading遮蓋區
.loading-wrapper {
    @include loading-wrapper;
}

// loading燈塔
.loading {
    @include loading;
}

// logo
.logo {
    @include logo;
}

// menu開關
.menu {
    @include menu;
}

// menu效果
.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
    display: none;
}

.menu.active {
    background-color: #a1c143;
}
// 展開的menu// 未展開尺寸
.l-menu {
    @include l-menu;
}

// 展開尺寸
.l-menu.active {
    @include l-menu-active;
}

.page-navbar {
    @include nav-word-l;
    // z-index: 200;
    .container {
        nav {
            @include navbar-style;
            a {
                text-decoration: none;
            }
            .title {
                @include nav-word-l;
            }
            .name {
                @include nav-word-s;
                font-weight: 400;
                display: flex;
                align-items: center;
                transition: 0.3s;
                opacity: 0.5;
                .icon {
                    @include icon;
                }
                // &:hover .icon{
                //     opacity: 1;
                // }
                &:hover {
                    opacity: 1;
                    font-weight: 900;
                }
            }
            //針對不同頁面強調所對應的navbar標題
            .name-1 {
                font-weight: 600;
                opacity: 1;
                .icon {
                    opacity: 1;
                }
            }
        }
    }
}

.Sub-standard {
    @include Sub-standard-style;
    text-align:center;
    margin-top: -10px;
}

.content-box {
    padding-top: 5%;
    position: relative;
    h1 {
        @include page-title-style;
    }

    .title-p {
        font-size: 21px;
        font-weight: 600;
        margin-top: 30px;
        letter-spacing: 2px;
    }
}

.content {
    margin-bottom: 7%;
    .text-box {
        p {
            font-size: 22px;
            letter-spacing: 3px;
            margin-bottom: 0;
            text-align: justify;
            
        }
    }
}

h2{
    color:#24999F;
    display: inline-block;
    align-items: center;
    letter-spacing: 1px;
    font-size: 45px;
    font-weight: 600;
    
}

h4{
    font-weight: 600;

}

// .title-p {
//     font-size: 22px;
//     font-weight: 600;
// }

.hole {
    position: absolute;
    top: 20%;
    right: 20%;
}
.rock {
    position: absolute;
    top: 60%;
    left: 45%;
}

// footer {
//     margin-top: 200px;
//     position: relative;
//     img {
//         width: 100vw;
//         position: absolute;
//         bottom: 0;
//     }
// }

.img-box{
    display: flex;
    align-items: center;
    justify-content:  center;
    img{
        @media (max-width: 1280px){
            width: 80%;
            // z-index: -1;
        }
    }
}

// 波浪
.wave {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99;
}

// 小船
.boat {
    position: fixed;
    right: 5%;
    bottom: 8%;
    z-index: -1;
    @media (max-width: 992px){
        width: 20%;
        bottom: 3%;
    
    }
}

footer{
    @include footer;
    .l-footer{
        display: block;
        @media (max-width: 326px){
            display: none;
        }
    }
    .s-footer{
        display: none;
        @media (max-width: 326px){
            display: block;
        }
    }
}
