@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  background-image: url(../img/02生態探索/植物底圖.png);
  background-size: cover;
}

.logo {
  width: 12%;
  position: fixed;
  top: 20px;
  left: 25px;
  z-index: 5;
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
}

.menu {
  position: fixed;
  top: -30px;
  right: -30px;
  width: 10vw;
  height: 10vw;
  background-color: #de675e;
  text-shadow: none;
  border-radius: 50%;
  z-index: 999990;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.menu:hover {
  width: 11vw;
  height: 11vw;
}

@media (max-width: 1200px) {
  .menu:hover {
    width: 16vw;
    height: 16vw;
  }
}

@media (max-width: 992px) {
  .menu:hover {
    width: 18vw;
    height: 18vw;
  }
}

@media (max-width: 576px) {
  .menu:hover {
    width: 21vw;
    height: 21vw;
  }
}

.menu .menu-btn {
  width: 100%;
  height: 100%;
}

.menu .menu-btn .menu-btnline {
  position: absolute;
  top: 40%;
  right: 52%;
  font-size: 20px;
  display: block;
}

@media (max-width: 768px) {
  .menu .menu-btn .menu-btnline {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .menu .menu-btn .menu-btnline {
    font-size: 12px;
  }
}

.menu .menu-btn .menu-text {
  position: absolute;
  top: 55%;
  right: 43%;
  display: block;
  font-size: 25px;
}

@media (max-width: 768px) {
  .menu .menu-btn .menu-text {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .menu .menu-btn .menu-text {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .menu {
    width: 15vw;
    height: 15vw;
  }
}

@media (max-width: 992px) {
  .menu {
    width: 17vw;
    height: 17vw;
  }
}

@media (max-width: 576px) {
  .menu {
    width: 20vw;
    height: 20vw;
  }
}

.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
  display: none;
}

.menu.active {
  background-color: #a1c143;
}

.l-menu {
  width: 0vw;
  height: 0vw;
  position: fixed;
  top: 1vw;
  right: 2vw;
  z-index: 500;
  background-color: #1c72b2;
  border-radius: 50%;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.l-menu a {
  text-decoration: none;
}

.l-menu .menu-list {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  list-style: none;
}

.l-menu .menu-list li {
  list-style: none;
}

.l-menu .menu-list li a span {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  display: block;
  line-height: 3;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .l-menu .menu-list li a span {
    line-height: 2;
  }
}

@media (max-width: 576px) {
  .l-menu .menu-list li a span {
    font-size: 14px;
  }
}

.l-menu .menu-list li a span:hover {
  color: #b8cad3;
}

.l-menu.active {
  width: 25vw;
  height: 25vw;
  opacity: 1;
  z-index: 9999;
}

.l-menu.active li a span {
  opacity: 1;
}

@media (max-width: 1200px) {
  .l-menu.active {
    width: 35vw;
    height: 35vw;
  }
}

@media (max-width: 992px) {
  .l-menu.active {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 768px) {
  .l-menu.active {
    width: 45vw;
    height: 45vw;
  }
}

@media (max-width: 576px) {
  .l-menu.active {
    width: 50vw;
    height: 50vw;
  }
}

.page1 {
  font-family: Microsoft JhengHei;
  font-weight: 600;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .page1 {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .page1 {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  .page1 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .page1 {
    font-size: 14px;
    letter-spacing: 0;
  }
}

.page1 .container nav {
  width: 70%;
  height: 60px;
  border-radius: 0 0 15px 15px;
  background-color: #3281A5;
  padding: 0 5%;
  z-index: 20;
}

@media (max-width: 1200px) {
  .page1 .container nav {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .page1 .container nav {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .page1 .container nav {
    width: 80%;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .page1 .container nav {
    width: 90%;
    padding: 0 2%;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.page1 .container nav a {
  text-decoration: none;
}

.page1 .container nav a {
  text-decoration: none;
}

.page1 .container nav .title {
  font-family: Microsoft JhengHei;
  font-weight: 600;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .page1 .container nav .title {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .page1 .container nav .title {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  .page1 .container nav .title {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .page1 .container nav .title {
    font-size: 14px;
    letter-spacing: 0;
  }
}

.page1 .container nav .name {
  font-family: Microsoft JhengHei;
  font-weight: 400;
  font-size: 21px;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .page1 .container nav .name {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .page1 .container nav .name {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .page1 .container nav .name {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .page1 .container nav .name {
    font-size: 13px;
    letter-spacing: 1px;
  }
}

.page1 .container nav .name .icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .page1 .container nav .name .icon {
    width: 13px;
    height: 13px;
  }
}

@media (max-width: 992px) {
  .page1 .container nav .name .icon {
    width: 11px;
    height: 11px;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .page1 .container nav .name .icon {
    width: 9px;
    height: 9px;
    margin-right: 3px;
  }
}

@media (max-width: 576px) {
  .page1 .container nav .name .icon {
    width: 7px;
    height: 7px;
    margin-right: 1px;
  }
}

.page1 .container nav .name:hover {
  opacity: 1;
  font-weight: 900;
}

.page1 .container nav .name-1 {
  font-weight: 600;
  opacity: 1;
}

.page1 .container nav .name-1 .icon {
  opacity: 1;
}

.content .title1 {
  margin: 50px auto;
}

.content .title1 h1 {
  color: #24999F;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .content .title1 h1 {
    font-size: 45px;
  }
}

@media (max-width: 576px) {
  .content .title1 h1 {
    font-size: 30px;
    padding-top: 30px;
  }
}

.content .title1 h3 {
  color: #24999F;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: Arno Pro;
  opacity: 0.5;
}

@media (max-width: 992px) {
  .content .title1 h3 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .content .title1 h3 {
    font-size: 16px;
  }
}

.content .content .title-p {
  font-size: 21px;
  font-weight: 600;
  margin-top: 30px;
  letter-spacing: 2px;
}

.content .content .plant-row {
  width: 100%;
}

.content .content .plant-row .plant-img {
  margin: auto;
  width: 80%;
  height: 0;
  padding-top: 80%;
  background-size: cover;
  background-position: center;
  border-radius: 10%;
}

.content .content .plant-row h3 {
  color: #55758C;
  font-weight: bold;
  margin-bottom: 20%;
}

.content .content .plant-row .img1 {
  background-image: url(../img/02生態探索/植物/澎湖決明.jpg);
}

.content .content .plant-row .img2 {
  background-image: url(../img/02生態探索/植物/密毛爵床（澎湖爵床）.jpg);
}

.content .content .plant-row .img3 {
  background-image: url(../img/02生態探索/植物/銀合歡.jpg);
}

.content .content .plant-row .img4 {
  background-image: url(../img/02生態探索/植物/雞殤刺.jpeg);
}

.content .content .plant-row .img5 {
  background-image: url(../img/02生態探索/植物/茅毛珍珠菜.jpg);
}

.content .content .plant-row .img6 {
  background-image: url(../img/02生態探索/植物/仙人掌.jpg);
}

.seagull {
  position: fixed;
  right: 30%;
  top: 15%;
}

.wave {
  width: 100vw;
  position: fixed;
  bottom: 0;
}

@media (max-width: 1200px) {
  .wave {
    height: 70px;
  }
}

@media (max-width: 576px) {
  .wave {
    height: 55px;
  }
}

footer {
  position: relative;
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  width: 100vw;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  footer {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  footer {
    font-size: 10px;
  }
}

footer p {
  margin-bottom: 0;
  margin: 0.5% 0;
}

footer .boat {
  position: absolute;
  right: 5%;
  bottom: 40px;
}

@media (max-width: 992px) {
  footer .boat {
    width: 180px;
  }
}

@media (max-width: 576px) {
  footer .boat {
    width: 100px;
  }
}
/*# sourceMappingURL=02生態探索-page3.css.map */