@import "../default";
@import "../mixin";
* {
    box-sizing: border-box;
}
.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-image: url(../img/02生態探索/珊瑚礁生態底圖.png);
    background-position: center;
    background-size: cover;
}

// loading遮蓋區
.loading-wrapper{
    @include loading-wrapper;
}

// loading燈塔
 .loading {
    @include loading;
}

// logo
.logo {
    position: fixed;
    top: 20px;
    left: 25px;
}

// menu開關
.menu {
    @include menu;
}

// menu效果
.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
    display: none;
}

.menu.active {
    background-color: #a1c143;
}
// 展開的menu// 未展開尺寸
.l-menu {
    @include l-menu;
}

// 展開尺寸
.l-menu.active {
    @include l-menu-active;
}

.page1 {
    @include nav-word-l;
    // background-color: blue;

    .container {
        nav {
            @include navbar-style;
            a {
                text-decoration: none;
            }
            .title {
                @include nav-word-l;
            }
            .name {
                @include nav-word-s;
                font-weight: 400;
                display: flex;
                align-items: center;
                transition: 0.3s;
                opacity: 0.5;
                .icon {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: red;
                    margin-right: 10px;
                    opacity: 0;
                    transition: 0.5s;
                }
                // &:hover .icon{
                //     opacity: 1;
                // }
                &:hover {
                    opacity: 1;
                    font-weight: 900;
                }
            }
            //針對不同頁面強調所對應的navbar標題
            .name-1 {
                font-weight: 600;
                opacity: 1;
                .icon {
                    opacity: 1;
                }
            }
        }
    }
}

.content {
    .title {
        margin: 50px auto;
        h1 {
            @include page-title-style;
            margin-bottom: 0;
        }
        h3 {
            @include Sub-standard-style;
            }
        }
    }


.card {
    background-color: #307c9e;
    border-radius: 30px;
    color: white;
    .roundimg {
        margin: 10% auto 0 auto;
        width: 150px;
        height: 150px;
        border-radius: 100px;
        background-size: cover;
        background-position: center;

    }
    .card-body {
        // height: 40vh;
        line-height: 30px;
        h5{
            font-weight: 900;
        }
        p {
            text-align: left;
        }
    }
}

// 珊瑚圖片
.coral {
    background-image: url(/img/02生態探索/珊瑚礁生態/珊瑚.jpg);
}

// 藻類圖片 
.seaweed {
    background-image: url(/img/02生態探索/珊瑚礁生態/藻類.jpg);
}

// 魚類圖片
 .fish {
    background-image: url(/img/02生態探索/珊瑚礁生態/魚類.jpg);
}

// 無脊椎動物圖片 
.invertebrates {
    background-image: url(/img/02生態探索/珊瑚礁生態/無脊椎.jpg);
}

// 海鷗
.seagull {
    position: fixed;
    right: 30%;
    top: 15%;
}

// 波浪
.wave {
    width: 100vw;
    position: fixed;
    bottom: 0;
}

// 小船
.boat {
    position: fixed;
    right: 5%;
    bottom: 8%;
}

footer {
    @include footer;
}
