@import "../default";
@import "../mixin";
* {
    box-sizing: border-box;
}
.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-image: url(../img/02生態探索/玄武岩底圖.png);
    // background-position: center;
    background-size: cover;
    // height: 200vh;
}

// logo
.logo {
    @include logo;
    z-index: 5;
}

// menu開關
.menu {
    @include menu;
}

// menu效果
.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
    display: none;
}

.menu.active {
    background-color: #a1c143;
}
// 展開的menu// 未展開尺寸
.l-menu {
    @include l-menu;
}

// 展開尺寸
.l-menu.active {
    @include l-menu-active;
}

.page1 {
    @include nav-word-l;
    // background-color: blue;

    .container {
        nav {
            @include navbar-style;
            a {
                text-decoration: none;
            }
            .title {
                @include nav-word-l;
            }
            .name {
                @include nav-word-s;
                font-weight: 400;
                display: flex;
                align-items: center;
                transition: 0.3s;
                opacity: 0.5;
                .icon {
                    @include icon;
                }
                &:hover {
                    opacity: 1;
                    font-weight: 900;
                }
            }
            //針對不同頁面強調所對應的navbar標題
            .name-1 {
                font-weight: 600;
                opacity: 1;
                .icon {
                    opacity: 1;
                }
            }
        }
    }
}

.content {
    .title1 {
        margin: 50px auto;
        h1 {
            @include page-title-style;
            margin-bottom: 0;
        }
        h3 {
            @include Sub-standard-style;
        }
    }
    .content {
        // 玄武岩
        .basalt {
            // width: 100%;
            height: 400px;
            // background-color: white;
            .basalt-img {
                width: 50%;
                height: 90%;
                background-image: url(../img/02生態探索/玄武岩/玄武岩.jpg);
                background-position: center;
                background-size: cover;
                border-radius: 20px;

                
            }
            // 玄武岩文字區
            .basalt-text {
                width: 50%;
                height: 100%;
                
                }
                .basalt-title {
                    height: 20%;
                    position: relative;
                    z-index: 4;
                    h1 {
                        padding: 5px;
                        position: absolute;
                        bottom: -50%;
                        right: 10px;
                        width: 40%;
                        height: 80%;
                        color: white;
                        background-color: #1b5377;
                        border-radius: 50px;
                    }
                }
                // 玄武岩文字內容
                .basalt-content {
                    position: relative;
                    height: 80%;
                    background-color: #1972b3;
                    padding: 10%;
                    color: white;
                    font-size: 18px;
                    margin-bottom: -10%;
                    margin-left: -10%;
                    border-radius: 20px;
                    letter-spacing: 7px;
                    text-align: left;
                    
                }
            }
        }
        // 海蝕
        .seaeclipse {
            height: 400px;
            display: flex;
            flex-direction: row-reverse;
            .seaeclipse-img {
                width: 50%;
                height: 100%;
                background-image: url(../img/02生態探索/玄武岩/海蝕.jpg);
                background-position: center;
                background-size: cover;
                border-radius: 20px;
            }
            .seaeclipse-text {
                width: 50%;
                height: 100%;
                .seaeclipse-title {
                    height: 20%;
                    position: relative;
                    z-index: 3;
                    h1 {
                        padding: 5px;
                        position: absolute;
                        bottom: -50%;
                        left: 10px;
                        width: 40%;
                        height: 80%;
                        color: white;
                        background-color: #82953C;
                        border-radius: 50px;
                    }
                }
                .seaeclipse-content {
                    position: relative;
                    height: 70%;
                    background-color: #A6C047;
                    padding: 10%;
                    color: white;
                    font-size: 18px;
                    margin-bottom: -10%;
                    margin-right: -10%;
                    border-radius: 20px;
                    letter-spacing: 7px;
                    text-align: left;
                }
            }
        }
    }


.swiper-container {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    
    // display: flex;
    // align-items: center;
    .img-box{
        height: 80%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5%;
    }
    .img1{
        background-image: url(../img/02生態探索/玄武岩/玄武岩下面的swiper/海蝕崖.jpg);
    }
    .img2{
        background-image: url(../img/02生態探索/玄武岩/玄武岩下面的swiper/風化而成球狀的玄武岩礫灘.jpg);
    }
    .img3{
        background-image: url(../img/02生態探索/玄武岩/玄武岩下面的swiper/風化後的玄武岩脈.jpg);
    }
    .img4{
        background-image: url(../img/02生態探索/玄武岩/玄武岩下面的swiper/海蝕平台（東吉嶼南方海崖）.jpg);
    }
    .img5{
        background-image: url(../img/02生態探索/玄武岩/玄武岩下面的swiper/海蝕平台（東嶼坪嶼南方海岸）.jpg);
    }
    .img6{
        background-image: url(../img/02生態探索/玄武岩/玄武岩下面的swiper/海蝕平台與壺穴（東吉嶼大坪）.jpg);
    }
    .img7{
        background-image: url(../img/02生態探索/玄武岩/玄武岩下面的swiper/海蝕洞.jpg);
    }
    span{
        font-size: 20px;
        line-height: 100%;
        font-weight: bold;
    }
  }

  .swiper-container .swiper-slide {
    height: 300px;
    // line-height: 300px;
  }


  .swiper-container .swiper-slide-next {
    width: 50%;
    height: 350px;
    margin-top: -20px;
    // line-height: 400px;
  }


// 海鷗
.seagull {
    position: fixed;
    right: 30%;
    top: 15%;
}

// 波浪
.wave {
    width: 100vw;
    position: fixed;
    bottom: 0;
    @media (max-width: 1200px){
        height: 70px;
    }
    @media (max-width: 576px){
        height: 55px;
    }
}

footer{
    position: relative;
    @include footer;
    
    .boat {
        position: absolute;
        right: 5%;
        bottom: 100%;
        @media (max-width: 992px){
            width: 180px;
        }
        @media (max-width: 576px){
            width: 100px;
        }
        
    }
} 
