@import "../default";
@import "../mixin";
* {
    box-sizing: border-box;
}
.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-image: url(../img/01認識我們/02歷史與發展/背景圖.png);
    background-position: center;
    background-size: cover;
}

// logo
.logo {
    position: fixed;
    top: 20px;
    left: 25px;
}

// menu開關
.menu {
    @include menu;
}

// menu效果
.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
    display: none;
}

.menu.active {
    background-color: #a1c143;
}
// 展開的menu// 未展開尺寸
.l-menu {
    @include l-menu;
}

// 展開尺寸
.l-menu.active {
    @include l-menu-active;
}

.page1 {
    @include nav-word-l;
    // background-color: blue;

    .container {
        nav {
            @include navbar-style;
            a {
                text-decoration: none;
            }
            .title {
                @include nav-word-l;
            }
            .name {
                @include nav-word-s;
                font-weight: 400;
                display: flex;
                align-items: center;
                transition: 0.3s;
                opacity: 0.5;
                .icon {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: red;
                    margin-right: 10px;
                    opacity: 0;
                    transition: 0.5s;
                }
                // &:hover .icon{
                //     opacity: 1;
                // }
                &:hover {
                    opacity: 1;
                    font-weight: 900;
                }
            }
            //針對不同頁面強調所對應的navbar標題
            .name-1 {
                font-weight: 600;
                opacity: 1;
                .icon {
                    opacity: 1;
                }
            }
        }
    }
}


.img{
    width: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: steelblue;
}


// 海鷗
.seagull {
    position: fixed;
    right: 30%;
    top: 15%;
}







// 波浪
.wave {
    width: 100vw;
    position: fixed;
    bottom: 0;
}

// 小船
.boat {
    position: fixed;
    right: 5%;
    bottom: 8%;
}


footer{
    @include footer;
}