@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  background-image: url(../img/01認識我們/02歷史與發展/背景圖.png);
  background-position: center;
  background-size: cover;
}

.logo {
  width: 12%;
  position: fixed;
  top: 20px;
  left: 25px;
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
}

.menu {
  position: fixed;
  top: -30px;
  right: -30px;
  width: 10vw;
  height: 10vw;
  background-color: #de675e;
  text-shadow: none;
  border-radius: 50%;
  z-index: 101;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.menu:hover {
  width: 11vw;
  height: 11vw;
}

@media (max-width: 1200px) {
  .menu:hover {
    width: 16vw;
    height: 16vw;
  }
}

@media (max-width: 992px) {
  .menu:hover {
    width: 18vw;
    height: 18vw;
  }
}

@media (max-width: 576px) {
  .menu:hover {
    width: 21vw;
    height: 21vw;
  }
}

.menu .menu-btn {
  width: 100%;
  height: 100%;
}

.menu .menu-btn .menu-btnline {
  position: absolute;
  top: 40%;
  right: 50%;
  font-size: 10px;
  display: block;
}

.menu .menu-btn .menu-text {
  position: absolute;
  top: 55%;
  right: 45%;
  display: block;
  font-size: 1vw;
}

@media (max-width: 1200px) {
  .menu {
    width: 15vw;
    height: 15vw;
  }
}

@media (max-width: 992px) {
  .menu {
    width: 17vw;
    height: 17vw;
  }
}

@media (max-width: 576px) {
  .menu {
    width: 20vw;
    height: 20vw;
  }
}

.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
  display: none;
}

.menu.active {
  background-color: #a1c143;
}

.l-menu {
  width: 0vw;
  height: 0vw;
  position: fixed;
  top: 1vw;
  right: 2vw;
  z-index: 5;
  background-color: #1c72b2;
  border-radius: 50%;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.l-menu a {
  text-decoration: none;
}

.l-menu .menu-list {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  list-style: none;
}

.l-menu .menu-list li {
  list-style: none;
}

.l-menu .menu-list li a span {
  font-size: 1.18vw;
  color: #fff;
  font-weight: 700;
  display: block;
  line-height: 3;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.l-menu .menu-list li a span:hover {
  color: #b8cad3;
}

.l-menu.active {
  width: 25vw;
  height: 25vw;
  opacity: 1;
}

.l-menu.active li a span {
  opacity: 1;
}

@media (max-width: 1200px) {
  .l-menu.active {
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 992px) {
  .l-menu.active {
    width: 32vw;
    height: 32vw;
  }
}

@media (max-width: 768px) {
  .l-menu.active {
    width: 34vw;
    height: 34vw;
  }
}

@media (max-width: 576px) {
  .l-menu.active {
    width: 38vw;
    height: 38vw;
  }
}

.page1 {
  font-family: Microsoft JhengHei;
  font-weight: 600;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .page1 {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .page1 {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  .page1 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .page1 {
    font-size: 14px;
    letter-spacing: 0;
  }
}

.page1 .container nav {
  width: 70%;
  height: 60px;
  border-radius: 0 0 15px 15px;
  background-color: #3281A5;
  padding: 0 5%;
  z-index: 20;
}

@media (max-width: 1200px) {
  .page1 .container nav {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .page1 .container nav {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .page1 .container nav {
    width: 80%;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .page1 .container nav {
    width: 90%;
    padding: 0 2%;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.page1 .container nav a {
  text-decoration: none;
}

.page1 .container nav a {
  text-decoration: none;
}

.page1 .container nav .title {
  font-family: Microsoft JhengHei;
  font-weight: 600;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .page1 .container nav .title {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .page1 .container nav .title {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  .page1 .container nav .title {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .page1 .container nav .title {
    font-size: 14px;
    letter-spacing: 0;
  }
}

.page1 .container nav .name {
  font-family: Microsoft JhengHei;
  font-weight: 400;
  font-size: 21px;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .page1 .container nav .name {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .page1 .container nav .name {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .page1 .container nav .name {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .page1 .container nav .name {
    font-size: 13px;
    letter-spacing: 1px;
  }
}

.page1 .container nav .name .icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .page1 .container nav .name .icon {
    width: 13px;
    height: 13px;
  }
}

@media (max-width: 992px) {
  .page1 .container nav .name .icon {
    width: 11px;
    height: 11px;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .page1 .container nav .name .icon {
    width: 9px;
    height: 9px;
    margin-right: 3px;
  }
}

@media (max-width: 576px) {
  .page1 .container nav .name .icon {
    width: 7px;
    height: 7px;
    margin-right: 1px;
  }
}

.page1 .container nav .name:hover {
  opacity: 1;
  font-weight: 900;
}

.page1 .container nav .name-1 {
  font-weight: 600;
  opacity: 1;
}

.page1 .container nav .name-1 .icon {
  opacity: 1;
}

.seagull {
  position: fixed;
  right: 30%;
  top: 15%;
}

.spacing {
  margin-top: 50px;
}

.unit {
  color: white;
  text-align: center;
}

@media (max-width: 1024px) {
  .unit .row .hide {
    display: nono;
  }
}

.unit .row .history,
.unit .row .development {
  height: 40vh;
  border-radius: 50px;
  width: 35%;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1024px) {
  .unit .row .history,
  .unit .row .development {
    margin: 30px auto;
    width: 100%;
    border-radius: 50px;
  }
}

.unit .row .history h2,
.unit .row .development h2 {
  line-height: 40vh;
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5%;
  border-radius: 50px;
}

.unit .row .history .text,
.unit .row .development .text {
  width: 100%;
  height: 100%;
  font-size: 18px;
  letter-spacing: 8px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 50px;
}

@media (max-width: 1024px) {
  .unit .row .history .text,
  .unit .row .development .text {
    letter-spacing: 5px;
    font-size: 16px;
  }
}

.unit .row .history .text .text-mask,
.unit .row .development .text .text-mask {
  padding: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 67, 71, 0.8);
  border-radius: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

.unit .row .history:hover,
.unit .row .development:hover {
  width: 40%;
  height: 60vh;
}

@media (max-width: 1024px) {
  .unit .row .history:hover,
  .unit .row .development:hover {
    width: 100%;
    border-radius: 50px;
  }
}

.unit .row .history:hover h2,
.unit .row .development:hover h2 {
  display: none;
  background-color: rgba(62, 67, 71, 0);
}

.unit .row .history:hover .text,
.unit .row .development:hover .text {
  display: block;
}

.unit .row .history:hover .text .text-mask,
.unit .row .development:hover .text .text-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(62, 67, 71, 0.6);
  border-radius: 50px;
}

.unit .row .history.active {
  width: 40%;
  height: 60vh;
  -webkit-transform: 1s;
          transform: 1s;
}

@media (max-width: 1024px) {
  .unit .row .history.active {
    width: 100%;
    border-radius: 50px;
  }
}

.unit .row .history.active .title1.active {
  display: none;
  -webkit-transform: 1s;
          transform: 1s;
}

.unit .row .history.active .text1.active {
  display: block;
  -webkit-transform: 1s;
          transform: 1s;
}

.unit .row .history {
  background-image: url(../img/01認識我們/02歷史與發展/歷史小.png);
  background-position: center;
  background-size: 300%;
}

.unit .row .history .text {
  background-image: url(../img/01認識我們/02歷史與發展/歷史大.png);
  background-position: center;
  background-size: 350%;
}

.unit .row .development {
  background-image: url(../img/01認識我們/02歷史與發展/發展小.png);
  background-position: center;
  background-size: 400%;
}

.unit .row .development .text {
  background-image: url(../img/01認識我們/02歷史與發展/發展大.png);
  background-position: center;
  background-size: 450%;
}

.wave {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.boat {
  position: fixed;
  right: 5%;
  bottom: 8%;
}

@media (max-width: 1024px) {
  .boat {
    display: none;
  }
}

footer {
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 0.5vw;
  line-height: 0.5vw;
  letter-spacing: 1px;
}

footer .l-footer {
  display: block;
}

@media (max-width: 326px) {
  footer .l-footer {
    display: none;
  }
}

footer .s-footer {
  display: none;
}

@media (max-width: 326px) {
  footer .s-footer {
    display: block;
  }
}
/*# sourceMappingURL=01認識我們-page2.css.map */