@import "../default";
@import "../mixin";
* {
    box-sizing: border-box;
}


.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-color: #318eda;
}



// menu開關
.menu {
    @include menu;
}

// menu效果
.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
    display: none;
}

.menu.active {
    background-color: #a1c143;
}
// 展開的menu// 未展開尺寸
.l-menu {
    @include l-menu;
}

// 展開尺寸
.l-menu.active {
    @include l-menu-active;
}

.page {
    @include nav-word-l;

    .container {
        nav {
            @include navbar-style;
            a {
                text-decoration: none;
            }
            .title {
                @include nav-word-l;
                @media (max-width: 768px){
                    font-size: 13px;  
                  } 
            }
            .name {
                @include nav-word-s;
                font-weight: 400;
                display: flex;
                align-items: center;
                transition: 0.3s;
                opacity: 0.5;
                @media (max-width: 768px){
                    font-size: 12px;
                }
                .icon {
                    @include icon;
                }
                // &:hover .icon{
                //     opacity: 1;
                // }
                &:hover {
                    opacity: 1;
                    font-weight: 900;
                }
            }
            //針對不同頁面強調所對應的navbar標題
            .name-1 {
                font-weight: 600;
                opacity: 1;
                .icon {
                    opacity: 1;
                }
            }
        }
    }
}
.content-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    @media (max-width: 768px){
        flex-direction: column-reverse;
    }
    .tab {
        padding: 3% 0;
        height: 100%;
        background-image: url(../img/認識四島/認識四嶼的右邊底圖.png);
        background-size: cover;
        position: relative;
        @media (max-width: 768px){
            display: flex;
        }
        @media (max-width: 576px){
            padding: 0;
        }
        .logo-box{
            width: 100%;
            @media (max-width: 768px){
                width: 50%;
                display: none;
            }
            .logo {
                width:45%;
                position: absolute;
                top: 8%;
                right: 28%;
                @media (max-width: 768px){
                    right: 0;
                    top: 4%;
                    left: 5%;
                    width: 30%;
                }
            }
        }

        .tab-btn {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-top: 40vh;
            width: 100%;
            height: 100%;
            @media (max-width: 768px){
                width: 100%;
                padding-top: 0;
            }
            .tablinks {
                width: 25%;
                height: 25%;
                border-radius: 30px;
                margin: 0 2%;
                text-align: center;
                cursor: pointer;
                border: none;
                outline: none;
                display: block;
                background-color:rgb(41, 82, 116);
                position: relative;
                z-index: 99;
                @media (max-width: 576px){
                    height: 20%;
                }
                h2 {
                    position: absolute;
                    top: calc(50% - 10px);
                    left: calc(50% - 10px);
                    transform: translate(-50%, -50%);
                    transition: 0.4s;
                    font-size: 26px;
                    font-weight: 800;
                    color: rgb(41, 82, 116);
                    @media (max-width: 768px){
                        font-size: 20px;
                    }
                     @media (max-width: 576px){
                         font-size: 14px;
                    }
                }
                &:hover::before {
                    background-color: rgb(28, 153, 175);
                    transform: translate(10px, 10px);
                }
                &:hover h2 {
                    color: white;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @media (max-width: 768px){
                        font-size: 18px;
                    }
                    @media (max-width: 576px){
                        font-size: 12px;
                    }
                }
                .active {
                    background-color: #ccc;
                }
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    background-color: white;
                    z-index: -1;
                    transition: 0.6s;
                }
            }
        }
    }
    .tabcontent {
        width: 100%;
        height: 100%;
        border-left: none;
        display: none;
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media (max-width: 768px){
            height: 200vh;
        }
        @media (max-width: 576px){
            height:200vh;
        }
        .text {
            @media (max-width: 768px){
                margin-top: 10vh;
            }
            @media (max-width: 576px){
                margin-top: 0;
            }
            .text-box {
                width: 70%;
                border-radius: 10px;
                align-items: center;
                text-align: center;
                background-color: rgba(41, 82, 116, 0.7);
                padding: 10px;
                @media (max-width: 576px){
                    width: 90%;
                }
                h3{
                    @media (max-width: 576px){
                        font-size: 18px;
                        letter-spacing: 1px;
                    }
                }
                p {
                    // width: 50%;
                    text-align: justify;
                    font-size: 18px;
                    letter-spacing: 1px;
                    margin-bottom: 0;
                    @media (max-width: 576px){
                        font-size: 13px;
                    }
                }
            }
        }
        .text1{
            margin-top: 15%;
            padding-right: 50%;
            @media (max-width: 768px){
                padding-right: 60%;
            }
        }
        .text2{
            margin-top: 80%;
            padding-left: 40%;
            @media (max-width: 768px){
                margin-top: 55%;
            }
            @media (max-width: 576px){
                margin-top: 90%;
            }
        }
        .text3{
            margin-top: 15%;
            padding-right: 40%;
            @media (max-width: 768px){
                margin-top: 10%;
                padding-right: 50%;
            }
            @media (max-width: 576px){
                margin-top: 15%;
            }
        }
        .text4{
            margin-top: 80%;
            padding-right: 30%;
            @media (max-width: 768px){
                margin-top: 60%;
                padding-right: 30%;
            }
            @media (max-width: 576px){
                margin-top: 95%;
                padding-right: 30%;
            }
        }
        .text5{
            margin-top: 10%;
            padding-right: 10%;
            @media (max-width: 768px){
                margin-top: 10%;
                padding-right: 0%;
            }
            @media (max-width: 576px){
                margin-top: 15%;
            }
        }
        .text6{
            margin-top: 10%;
            padding-right: 10%;
            @media (max-width: 768px){
                margin-top: 10%;
                padding-right: 0%;
            }
            @media (max-width: 576px){
                margin-top: 15%;
            }
        }
        .text7{
            margin-top: 10%;
            padding-right: 10%;
            @media (max-width: 768px){
                margin-top: 62%;
                padding-right: 0%;
            }
            @media (max-width: 576px){
                margin-top: 100%;
                padding-right: 0%;
            }
        }
        .text8{
            margin-top: 80%;
            padding-right: 60%;
            @media (max-width: 768px){
                margin-top: 50%;
            }
            @media (max-width: 576px){
                margin-top: 80%;
            }
        }
        .text9{
            margin-top: 50%;
            padding-right: 0%;
            @media (max-width: 768px){
                margin-top: 35%;
            }
            @media (max-width: 576px){
                margin-top: 50%;
            }
        }
    }
    .tab1 {
        background-image: url(../img/認識四島/頭巾.png);
    }
    .tab2 {
        background-image: url(../img/認識四島/鐵砧.png);
    }
    .tab3 {
        background-image: url(../img/認識四島/鐘仔.png);
    }
    .tab4 {
        background-image: url(../img/認識四島/豬母礁.png);
    }
    .tab5 {
        background-image: url(../img/認識四島/二塭.png);
    }
    .tab6 {
        background-image: url(../img/認識四島/香爐嶼.png);
    }
    .tab7 {
        background-image: url(../img/認識四島/鋤頭嶼.png);
    }
    .tab8 {
        background-image: url(../img/認識四島/柴垵塭.png);
    }
    .tab9 {
        background-image: url(../img/認識四島/離塭仔.png);
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
}

// 一開始顯示圖
.tab-btn.show {
    .tablinks.show {
        position: relative;
        background-color: rgb(28, 153, 175);
        // z-index: 200;
        &::before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            background-color:none;
            // z-index: 9999;
            // transition: 0.4s;
        }
        h2 {
            position: relative;
            // right: 20px;
            top: 20px;
            right: 50px;
            color: white;
        }
    }
}
.tabcontent.show{
    display: block;
    background-image: url(../img/認識四島/頭巾.png);
}
