@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  background-color: #318eda;
}

.logo {
  position: absolute;
  top: 8%;
  right: 18%;
}

.menu {
  position: fixed;
  top: -30px;
  right: -30px;
  width: 10vw;
  height: 10vw;
  background-color: #de675e;
  text-shadow: none;
  border-radius: 50%;
  z-index: 101;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.menu:hover {
  width: 11vw;
  height: 11vw;
}

.menu .menu-btn {
  width: 100%;
  height: 100%;
}

.menu .menu-btn .menu-btnline {
  position: absolute;
  top: 40%;
  right: 50%;
  font-size: 10px;
  display: block;
}

.menu .menu-btn .menu-text {
  position: absolute;
  top: 55%;
  right: 45%;
  display: block;
  font-size: 1vw;
}

.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
  display: none;
}

.menu.active {
  background-color: #a1c143;
}

.l-menu {
  width: 0vw;
  height: 0vw;
  position: fixed;
  top: 1vw;
  right: 2vw;
  z-index: 5;
  background-color: #1c72b2;
  border-radius: 50%;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.l-menu a {
  text-decoration: none;
}

.l-menu .menu-list {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  list-style: none;
}

.l-menu .menu-list li {
  list-style: none;
}

.l-menu .menu-list li a span {
  font-size: 1.18vw;
  color: #fff;
  font-weight: 700;
  display: block;
  line-height: 3;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.l-menu .menu-list li a span:hover {
  color: #b8cad3;
}

.l-menu.active {
  z-index: 100;
  width: 25vw;
  height: 25vw;
  opacity: 1;
}

.l-menu.active li a span {
  opacity: 1;
}

.page {
  font-family: Microsoft JhengHei;
  font-weight: 600;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
  position: -webkit-sticky;
  position: sticky;
}

.page .container nav {
  width: 70%;
  height: 60px;
  border-radius: 0 0 15px 15px;
  background-color: #3281A5;
  padding: 0 5%;
}

.page .container nav a {
  text-decoration: none;
}

.page .container nav a {
  text-decoration: none;
}

.page .container nav .title {
  font-family: Microsoft JhengHei;
  font-weight: 600;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
}

.page .container nav .name {
  font-family: Microsoft JhengHei;
  font-weight: 400;
  font-size: 21px;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

.page .container nav .name .icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page .container nav .name:hover {
  opacity: 1;
  font-weight: 900;
}

.page .container nav .name-1 {
  font-weight: 600;
  opacity: 1;
}

.page .container nav .name-1 .icon {
  opacity: 1;
}

.content-box {
  width: 100vw;
  height: 100vh;
}

.content-box .tab {
  padding: 3% 0;
  float: right;
  width: 30%;
  height: 100%;
  padding-top: 40vh;
  background-image: url(../img/認識四島/認識四嶼的右邊底圖.png);
  background-size: cover;
}

.content-box .tab .tab-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.content-box .tab .tab-btn .tablinks {
  width: 25%;
  height: 25%;
  margin: 0 2%;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
  background-color: yellow;
  position: relative;
  z-index: 99;
}

.content-box .tab .tab-btn .tablinks h2 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 24px;
}

.content-box .tab .tab-btn .tablinks:hover::before {
  background-color: #1c99af;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
}

.content-box .tab .tab-btn .tablinks:hover h2 {
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-box .tab .tab-btn .tablinks .active {
  background-color: #ccc;
}

.content-box .tab .tab-btn .tablinks::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-box .tabcontent {
  float: left;
  width: 100%;
  height: 100%;
  border-left: none;
  display: none;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-box .tabcontent .text .text-box {
  margin: auto;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(49, 129, 165, 0.8);
  padding: 10px;
}

.content-box .tabcontent .text .text-box p {
  text-align: justify;
}

.content-box .tab1 {
  background-image: url(../img/認識四島/頭巾.png);
}

.content-box .tab2 {
  background-image: url(../img/認識四島/鐵砧.png);
}

.content-box .tab3 {
  background-image: url(../img/認識四島/鐘仔.png);
}

.content-box .tab4 {
  background-image: url(../img/認識四島/豬母礁.png);
}

.content-box .tab5 {
  background-image: url(../img/認識四島/二塭.png);
}

.content-box .tab6 {
  background-image: url(../img/認識四島/香爐嶼.png);
}

.content-box .tab7 {
  background-image: url(../img/認識四島/鋤頭嶼.png);
}

.content-box .tab8 {
  background-image: url(../img/認識四島/柴垵塭.png);
}

.content-box .tab9 {
  background-image: url(../img/認識四島/離塭仔.png);
}

.content-box .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.tab-btn.abc .tablinks.abc {
  position: relative;
  background-color: #1c99af;
}

.tab-btn.abc .tablinks.abc::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  background-color: none;
}

.tab-btn.abc .tablinks.abc h2 {
  position: relative;
  top: 20px;
  right: 50px;
  color: white;
}

.tabcontent.abc {
  display: block;
  background-image: url(../img/認識四島/頭巾.png);
}
/*# sourceMappingURL=01認識我們-page4.css.map */