@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  background-color: #318eda;
}

.menu {
  position: fixed;
  top: -30px;
  right: -30px;
  width: 10vw;
  height: 10vw;
  background-color: #de675e;
  text-shadow: none;
  border-radius: 50%;
  z-index: 999990;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.menu:hover {
  width: 11vw;
  height: 11vw;
}

@media (max-width: 1200px) {
  .menu:hover {
    width: 16vw;
    height: 16vw;
  }
}

@media (max-width: 992px) {
  .menu:hover {
    width: 18vw;
    height: 18vw;
  }
}

@media (max-width: 576px) {
  .menu:hover {
    width: 21vw;
    height: 21vw;
  }
}

.menu .menu-btn {
  width: 100%;
  height: 100%;
}

.menu .menu-btn .menu-btnline {
  position: absolute;
  top: 40%;
  right: 52%;
  font-size: 20px;
  display: block;
}

@media (max-width: 768px) {
  .menu .menu-btn .menu-btnline {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .menu .menu-btn .menu-btnline {
    font-size: 12px;
  }
}

.menu .menu-btn .menu-text {
  position: absolute;
  top: 55%;
  right: 43%;
  display: block;
  font-size: 25px;
}

@media (max-width: 768px) {
  .menu .menu-btn .menu-text {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .menu .menu-btn .menu-text {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .menu {
    width: 15vw;
    height: 15vw;
  }
}

@media (max-width: 992px) {
  .menu {
    width: 17vw;
    height: 17vw;
  }
}

@media (max-width: 576px) {
  .menu {
    width: 20vw;
    height: 20vw;
  }
}

.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
  display: none;
}

.menu.active {
  background-color: #a1c143;
}

.l-menu {
  width: 0vw;
  height: 0vw;
  position: fixed;
  top: 1vw;
  right: 2vw;
  z-index: 500;
  background-color: #1c72b2;
  border-radius: 50%;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.l-menu a {
  text-decoration: none;
}

.l-menu .menu-list {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  list-style: none;
}

.l-menu .menu-list li {
  list-style: none;
}

.l-menu .menu-list li a span {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  display: block;
  line-height: 3;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .l-menu .menu-list li a span {
    line-height: 2;
  }
}

@media (max-width: 576px) {
  .l-menu .menu-list li a span {
    font-size: 14px;
  }
}

.l-menu .menu-list li a span:hover {
  color: #b8cad3;
}

.l-menu.active {
  width: 25vw;
  height: 25vw;
  opacity: 1;
  z-index: 9999;
}

.l-menu.active li a span {
  opacity: 1;
}

@media (max-width: 1200px) {
  .l-menu.active {
    width: 35vw;
    height: 35vw;
  }
}

@media (max-width: 992px) {
  .l-menu.active {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 768px) {
  .l-menu.active {
    width: 45vw;
    height: 45vw;
  }
}

@media (max-width: 576px) {
  .l-menu.active {
    width: 50vw;
    height: 50vw;
  }
}

.page {
  font-family: Microsoft JhengHei;
  font-weight: 600;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .page {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .page {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  .page {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .page {
    font-size: 14px;
    letter-spacing: 0;
  }
}

.page .container nav {
  width: 70%;
  height: 60px;
  border-radius: 0 0 15px 15px;
  background-color: #3281A5;
  padding: 0 5%;
  z-index: 20;
}

@media (max-width: 1200px) {
  .page .container nav {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .page .container nav {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .page .container nav {
    width: 80%;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .page .container nav {
    width: 90%;
    padding: 0 2%;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.page .container nav a {
  text-decoration: none;
}

.page .container nav a {
  text-decoration: none;
}

.page .container nav .title {
  font-family: Microsoft JhengHei;
  font-weight: 600;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .page .container nav .title {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .page .container nav .title {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  .page .container nav .title {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .page .container nav .title {
    font-size: 14px;
    letter-spacing: 0;
  }
}

@media (max-width: 768px) {
  .page .container nav .title {
    font-size: 13px;
  }
}

.page .container nav .name {
  font-family: Microsoft JhengHei;
  font-weight: 400;
  font-size: 21px;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .page .container nav .name {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .page .container nav .name {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .page .container nav .name {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .page .container nav .name {
    font-size: 13px;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  .page .container nav .name {
    font-size: 12px;
  }
}

.page .container nav .name .icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .page .container nav .name .icon {
    width: 13px;
    height: 13px;
  }
}

@media (max-width: 992px) {
  .page .container nav .name .icon {
    width: 11px;
    height: 11px;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .page .container nav .name .icon {
    width: 9px;
    height: 9px;
    margin-right: 3px;
  }
}

@media (max-width: 576px) {
  .page .container nav .name .icon {
    width: 7px;
    height: 7px;
    margin-right: 1px;
  }
}

.page .container nav .name:hover {
  opacity: 1;
  font-weight: 900;
}

.page .container nav .name-1 {
  font-weight: 600;
  opacity: 1;
}

.page .container nav .name-1 .icon {
  opacity: 1;
}

.content-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.content-box .tab {
  padding: 3% 0;
  height: 100%;
  background-image: url(../img/認識四島/認識四嶼的右邊底圖.png);
  background-size: cover;
  position: relative;
}

@media (max-width: 768px) {
  .content-box .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content-box .tab .logo-box {
  width: 100%;
}

@media (max-width: 768px) {
  .content-box .tab .logo-box {
    width: 50%;
    display: none;
  }
}

.content-box .tab .logo-box .logo {
  width: 45%;
  position: absolute;
  top: 10%;
  right: 28%;
}

@media (max-width: 768px) {
  .content-box .tab .logo-box .logo {
    right: 0;
    top: 4%;
    left: 5%;
    width: 30%;
  }
}

.content-box .tab .tab-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40vh;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .content-box .tab .tab-btn {
    width: 100%;
    padding-top: 0;
  }
}

.content-box .tab .tab-btn .tablinks {
  width: 40%;
  height: 30%;
  border-radius: 30px;
  margin: 0 2%;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
  background-color: #295274;
  position: relative;
  z-index: 99;
}

@media (max-width: 768px) {
  .content-box .tab .tab-btn .tablinks {
    width: 20%;
    height: 60%;
  }
}

.content-box .tab .tab-btn .tablinks h1 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 30px;
  font-weight: 800;
  color: #295274;
}

@media (max-width: 768px) {
  .content-box .tab .tab-btn .tablinks h1 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .content-box .tab .tab-btn .tablinks h1 {
    font-size: 14px;
  }
}

.content-box .tab .tab-btn .tablinks:hover::before {
  background-color: #1c99af;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
}

.content-box .tab .tab-btn .tablinks:hover h1 {
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .content-box .tab .tab-btn .tablinks:hover h1 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .content-box .tab .tab-btn .tablinks:hover h1 {
    font-size: 12px;
  }
}

.content-box .tab .tab-btn .tablinks .active {
  background-color: #ccc;
}

.content-box .tab .tab-btn .tablinks::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  z-index: -1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.content-box .tabcontent {
  width: 100%;
  height: 100%;
  border-left: none;
  display: none;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .content-box .tabcontent {
    height: 200vh;
  }
}

@media (max-width: 576px) {
  .content-box .tabcontent {
    height: 200vh;
  }
}

@media (max-width: 768px) {
  .content-box .tabcontent .text {
    margin-top: 10vh;
  }
}

@media (max-width: 576px) {
  .content-box .tabcontent .text {
    margin-top: 0;
  }
}

.content-box .tabcontent .text .text-box {
  width: 70%;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(41, 82, 116, 0.7);
  padding: 10px;
}

@media (max-width: 576px) {
  .content-box .tabcontent .text .text-box {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .content-box .tabcontent .text .text-box h3 {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.content-box .tabcontent .text .text-box p {
  text-align: justify;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .content-box .tabcontent .text .text-box p {
    font-size: 13px;
  }
}

.content-box .tabcontent .text1 {
  margin-top: 15%;
}

@media (max-width: 768px) {
  .content-box .tabcontent .text1 {
    margin-top: 45vh;
  }
}

@media (max-width: 576px) {
  .content-box .tabcontent .text1 {
    margin-top: 60%;
  }
}

.content-box .tabcontent .text2 {
  margin-top: 20%;
  padding-right: 50%;
}

@media (max-width: 768px) {
  .content-box .tabcontent .text2 {
    padding-right: 60%;
  }
}

@media (max-width: 576px) {
  .content-box .tabcontent .text2 {
    padding-right: 0%;
    margin-top: 60%;
  }
}

.content-box .tabcontent .text3 {
  margin-top: 18%;
  padding-right: 40%;
}

@media (max-width: 768px) {
  .content-box .tabcontent .text3 {
    padding-right: 20%;
  }
}

@media (max-width: 576px) {
  .content-box .tabcontent .text3 {
    padding-right: 10%;
    margin-top: 15%;
  }
}

.content-box .tabcontent .text4 {
  margin-top: 13%;
  padding-right: 50%;
}

@media (max-width: 576px) {
  .content-box .tabcontent .text4 {
    margin-top: 15%;
  }
}

.content-box .tab1 {
  background-image: url(../img/認識四島/東吉嶼.png);
}

.content-box .tab2 {
  background-image: url(../img/認識四島/西吉嶼.png);
}

.content-box .tab3 {
  background-image: url(../img/認識四島/東嶼坪嶼.png);
}

.content-box .tab4 {
  background-image: url(../img/認識四島/西嶼坪嶼.png);
}

.content-box .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.tab-btn.show .tablinks.show {
  position: relative;
  background-color: #1c99af;
}

.tab-btn.show .tablinks.show::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  background-color: none;
}

.tab-btn.show .tablinks.show h1 {
  position: relative;
  top: 20px;
  right: 50px;
  color: white;
}

.tabcontent.show {
  display: block;
  background-image: url(../img/認識四島/東吉嶼.png);
}
/*# sourceMappingURL=01認識我們-page3.css.map */