@import "../default";
@import "../mixin";
* {
    box-sizing: border-box;
}
.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-image: url(../img/01認識我們/02歷史與發展/背景圖.png);
    background-position: center;
    background-size: cover;
}

// logo
.logo {
    @include logo;
}

// menu開關
.menu {
    @include menu;
}

// menu效果
.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
    display: none;
}

.menu.active {
    background-color: #a1c143;
}
// 展開的menu// 未展開尺寸
.l-menu {
    @include l-menu;
}

// 展開尺寸
.l-menu.active {
    @include l-menu-active;
}

.page1 {
    @include nav-word-l;
    // background-color: blue;

    .container {
        nav {
            @include navbar-style;
            a {
                text-decoration: none;
            }
            .title {
                @include nav-word-l;
            }
            .name {
                @include nav-word-s;
                font-weight: 400;
                display: flex;
                align-items: center;
                transition: 0.3s;
                opacity: 0.5;
                .icon {
                    @include icon;
                }
                // &:hover .icon{
                //     opacity: 1;
                // }
                &:hover {
                    opacity: 1;
                    font-weight: 900;
                }
            }
            //針對不同頁面強調所對應的navbar標題
            .name-1 {
                font-weight: 600;
                opacity: 1;
                .icon {
                    opacity: 1;
                }
            }
        }
    }
}

// 海鷗
.seagull {
    position: fixed;
    right: 30%;
    top: 15%;
}

// 歷史及發展

.spacing{
    margin-top: 100px;
}
.unit {
    color: white;
    text-align: center;
    height: 60vh;
    margin-top: 100px;
    .row {
        // @media (max-width: 1024px){
        //     padding: 50px;
        // }
        .hide{
            @media (max-width: 1024px){
                display: nono;
            }
        }
        .history ,
        .development{
            height: 40vh;
            // background-color: brown;
            border-radius: 50px;
            width: 35%;
            transition: 1s;
            transform: scale( 1.1);
            @media (max-width: 1024px){

                margin: 30px
                auto;
                width: 100%;
                border-radius: 50px;
            }
            h2{
                line-height: 40vh;
                text-align: center;
                // text-decoration: underline;
                font-weight: 900;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 5%;
                border-radius: 50px;
                // display: block;
                // transition: 1s;
            }
            .text{
                width: 100%;
                height: 100%;
                font-size: 18px;
                letter-spacing: 8px;
                display: none;
                align-items: center;
                // background-color:darkgray;
                transition: 1s;
                // transform: scale( 1.2);
                border-radius: 50px;
                @media (max-width: 1024px){
                    letter-spacing: 5px;
                    font-size: 16px;
                }
                .text-mask {
                    padding: 10%;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(62, 67, 71,0.8);
                    border-radius: 50px;
                    transition: 1s;
                    
                }              


            }
            &:hover {
                width: 40%;
                height: 60vh;
                @media (max-width: 1024px){
                    width: 100%;
                    border-radius: 50px;
                }

                // transform: scale( 1.2);
                h2{
                    display: none;
                    background-color: rgba(62, 67, 71,0);
                }
                .text{
                    display: block;
                    .text-mask {
                        width: 100%;
                        height: 100%;
                        background-color: rgba(62, 67, 71,0.6);
                        border-radius: 50px;
                    }             
                 }
            }
        }

        // 一開始展開樣式(可參照hover狀況寫
        .history.active{
            width: 40%;
            height: 60vh;
            transform: 1s;
            @media (max-width: 1024px){
                width: 100%;
                border-radius: 50px;
            }
            .title1.active{
                display: none;
                transform: 1s;
             }
             .text1.active{
                display:block;
                transform: 1s;
            }
        }




        // 歷史圖片
        .history{
            background-image: url(../img/01認識我們/02歷史與發展/歷史小.png);
            background-position: center;
            background-size: 300%;
            .text{
                background-image: url(../img/01認識我們/02歷史與發展/歷史大.png);
                background-position: center;
                background-size: 350%;
            }
        }

        // 發展
        .development{
            background-image: url(../img/01認識我們/02歷史與發展/發展小.png);
            background-position: center;
            background-size: 400%;
            .text{
                background-image: url(../img/01認識我們/02歷史與發展/發展大.png);
                background-position: center;
                background-size: 450%;
            }
        }

        // .development {
        //     height: 40vh;
        //     background-color: rgb(19, 55, 121);
        //     border-radius: 10%;
        //     width: 35%;
        //     transition: 1s;
        //     &:hover {
        //         width: 40%;
        //     }
        //     h2{
        //         line-height: 40vh;
        //         text-align: center;
        //     }
        // }
    }
}   

// 波浪
// 波浪
.wave {
    width: 100vw;
    position: fixed;
    bottom: 0;
    @media (max-width: 1200px){
        height: 70px;
    }
    @media (max-width: 576px){
        height: 55px;
    }
}

footer{
    position: relative;
    @include footer;
    
    .boat {
        position: absolute;
        right: 5%;
        bottom: 100%;
        @media (max-width: 992px){
            width: 180px;
        }
        @media (max-width: 576px){
            width: 100px;
        }
        
    }
} 