@import"../default";
@import"../mixin";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

// loading遮蓋區
.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(22, 49, 81); */
    background:black;
    z-index: 999;

}
// loading燈塔
.loading {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-75px , -75px);
    border-radius: 100px;
}

// menu開關
.menu{
    @include menu;
}

// menu效果
.menu-btnline.active,
.menu-text.active,
.menu-btn.active{
    display: none;
}

.menu.active
{
    background-color: #a1c143;
}

// 展開的menu// 未展開尺寸
.l-menu{
    @include l-menu;
}

// 展開尺寸
.l-menu.active{
    @include  l-menu-active;
} 

// 內容
.wholeMap{
    background-color: $bg-blue;
    position: relative;
    width: 100vw;
    height: 100vh;
    .logo{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%,0);
    }
    .east{
        position: absolute;
        top: 40%;
        right: 5%;
    }
    .west{
        position: absolute;
        top: 46%;
        left: 40%;
    }
    .littleEast{
        position: absolute;
        top: 33%;
        left: 15%;
    }
    .littleWest{
        position: absolute;
        top: 20%;
        left: 15%;
    }
    .island1{
        position: absolute;
        top: 5%;
        left: 5%;
    }
    .island2{
        position: absolute;
        top: 15%;
        left: 16%;
    }
    .island3{
        position: absolute;
        top: 38%;
        left: 14%;
    }
    .island4{
        position: absolute;
        top: 51%;
        left: 24%;
    }
    .island5{
        position: absolute;
        top: 55%;
        left: 5%;
    }
    .island6{
        position: absolute;
        top: 65%;
        left: 19%;
    }
    .island7{
        position: absolute;
        top: 58%;
        left: 33%;
    }
}