@import "../default";
@import"../mixin";
*{
    box-sizing: border-box;
}
.selector-for-some-widget {
    box-sizing: content-box;
  }

.page{
    @include nav-word-l;
    .logo-box{
        img{
           background-color: black; 
        }
    }
    .container{
        nav{
            @include navbar-style;
            a{
                text-decoration: none;
            }
            .title{
                @include nav-word-l; 
            }
            .name{
                @include nav-word-s;
                display: flex;
                align-items: center;
                transition:1s;
                opacity: 0.5;
                .icon{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: white;
                    margin-right: 10px;
                    opacity: 0;
                    transition: 0.5s;
                }
                &:hover .icon{
                    opacity: 1;
                }
                &:hover {
                    opacity: 1;
                }
            }
            //針對不同頁面強調所對應的navbar標題
            .name-active{
                opacity: 1;
                .icon{
                    opacity: 1;
                }
            }
        } 
    }    
}
.content-box{
    
}