@import "../default";
@import"../mixin";
*{
    box-sizing: border-box;
}
.selector-for-some-widget {
    box-sizing: content-box;
  }

.page{
    @include nav-word-l;
    .logo-box{
        img{
           background-color: black; 
        }
    }
    .container{
        nav{
            @include navbar-style;
            a{
                text-decoration: none;
            }
            .title{
                @include nav-word-l; 
            }
            .name{
                @include nav-word-s;
                display: flex;
                align-items: center;
                transition:1s;
                opacity: 0.5;
                .icon{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: white;
                    margin-right: 10px;
                    opacity: 0;
                    transition: 0.5s;
                }
                &:hover .icon{
                    opacity: 1;
                }
                &:hover {
                    opacity: 1;
                }
            }
            //針對不同頁面強調所對應的navbar標題
            .name-active{
                opacity: 1;
                .icon{
                    opacity: 1;
                }
            }
        } 
    }    
}
.content-box{
    height: 70vh; 
    .img-slider{
        background-color: skyblue;
        position: relative;
        .img-slide{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            .text{
                width: 50%;
                h1{
                    color: white;
                }
                p{
                    color: white;
                }
            }
        }  
        .slide01{
            position: absolute;
            background-image: url(../img/03四島奇旅/03東吉嶼/東吉燈塔.jpg);
            transition: 1s;
        } 
        .slide02{
            position: absolute;
            background-image: url(../img/03四島奇旅/04西吉嶼/北岸海蝕洞.jpg);
            transition: 1s;
        } 
        .slide03{
            position: absolute;
            background-image: url(../img/03四島奇旅/01東嶼坪嶼/梯田式菜宅.jpg);
            transition: 1s;
        } 
        .slide04{
            position: absolute;
            background-image: url(../img/03四島奇旅/02西嶼坪嶼/華娘廟-1.jpg);
            transition: 1s;
        } 
    }
    .btn-list{
        background-color: skyblue;
        padding: 5%;
        ul{
            list-style-type: none;
            height: 50%;
            align-items: center;
            padding-left: 0;
            li{
                width: 40%;
                height: 60%;
                background-color: yellow;
                margin: 0 5%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 999;
                a{
                    position: relative;
                    text-decoration: none;
                    color:black;
                    font-size: 28px;
                    z-index: 999;  
                }
                &::after{
                    content: " ";
                    bottom: 3%;
                    right: 3%;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                
                }  
            }
           
            }
        }
    } 
//      .content-box>.btn-list>ul>.btn01:hover~.content-box>.img-slider>.slide01 {
//          opacity: 1;
//      }      
//     .content-box>.img-slider>.slide01:hover {
//                     opacity: 1;
                
// }