@import"../default";
@import"../mixin";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

// loading遮蓋區
.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(22, 49, 81); */
    background:black;
    z-index: 999;

}
// loading燈塔
.loading {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-75px , -75px);
    border-radius: 100px;
}

// menu開關
.menu{
    width: 100%;
    @include menu;
}

// menu效果
.menu-btnline.active,
.menu-text.active,
.menu-btn.active{
    display: none;
}

.menu.active
{
    background-color: #a1c143;
}

// 展開的menu// 未展開尺寸
.l-menu{
    @include l-menu;
}

// 展開尺寸
.l-menu.active{
    @include  l-menu-active;
} 

// 內容
.wholeMap{
    background-color: $bg-blue;
    position: relative;
    width: 100vw;
    height: 100vh;
    .logo{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%,0);
    }
    .east{
        position: absolute;
        top: 38%;
        right: 5%;
        filter: drop-shadow(40px 40px 10px rgb(89, 167, 179));
    }
    .west{
        position: absolute;
        top: 52%;
        right: 36%;
    }
    .littleEast{
        position: absolute;
        top: 40%;
        left: 18%;
    }
    .littleWest{
        position: absolute;
        top: 25%;
        left: 18%;
    }
    .island1{
        position: absolute;
        top: 6%;
        left: 7%;
    }
    .island2{
        position: absolute;
        top: 15%;
        left: 15%;
    }
    .island3{
        position: absolute;
        top: 40%;
        left: 14%;
    }
    .island4{
        position: absolute;
        top: 53%;
        left: 26%;
    }
    .island5{
        position: absolute;
        top: 55%;
        left: 6%;
    }
    .island6{
        position: absolute;
        top: 65%;
        left: 19%;
    }
    .island7{
        position: absolute;
        top: 58%;
        left: 33%;
    }
    .island8{
        position: absolute;
        top: 47%;
        right: 23%;
    }
    .fish-l{
        position: absolute;
        top: 30%;
        left: 4%;
    }
    .fish-r{
        position: absolute;
        top: 68%;
        right: 30%;
    }
    .rock{
        position: absolute;
        bottom: 15%;
        left: 6%;
    }
    .animal{
        position: absolute;
        bottom: 15%;
        left: 15%;
    }
    .plant{
        position: absolute;
        bottom: 15%;
        left: 25%;
    }
    .carol{
        position: absolute;
        bottom: 15%;
        left: 35%;
    }
    .birds{
        position: absolute;
        top: 12%;
        right: 27%;
    }
    .cloud{
        position: absolute;
        top: 20%;
        right: 1%;
    }
    .boat{
        position: absolute;
        bottom: 8%;
        right: 12%;
        z-index: 1;
    }
    .email{
        position: absolute;
        bottom: 15%;
        right: 2%;
    }
    .fb{
        position: absolute;
        bottom: 15%;
        right: 6%;
    }
    .wave{
        width: 100vw;
        position: absolute;
        bottom: 0;
    }
}