@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgb(22, 49, 81); */
  background: white;
  z-index: 999;
}

.loading {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu {
  width: 100%;
  position: fixed;
  top: -30px;
  right: -30px;
  width: 10vw;
  height: 10vw;
  background-color: #de675e;
  text-shadow: none;
  border-radius: 50%;
  z-index: 101;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.menu:hover {
  width: 11vw;
  height: 11vw;
}

@media (max-width: 1200px) {
  .menu:hover {
    width: 16vw;
    height: 16vw;
  }
}

@media (max-width: 992px) {
  .menu:hover {
    width: 18vw;
    height: 18vw;
  }
}

@media (max-width: 576px) {
  .menu:hover {
    width: 21vw;
    height: 21vw;
  }
}

.menu .menu-btn {
  width: 100%;
  height: 100%;
}

.menu .menu-btn .menu-btnline {
  position: absolute;
  top: 40%;
  right: 50%;
  font-size: 10px;
  display: block;
}

.menu .menu-btn .menu-text {
  position: absolute;
  top: 55%;
  right: 45%;
  display: block;
  font-size: 1vw;
}

@media (max-width: 1200px) {
  .menu {
    width: 15vw;
    height: 15vw;
  }
}

@media (max-width: 992px) {
  .menu {
    width: 17vw;
    height: 17vw;
  }
}

@media (max-width: 576px) {
  .menu {
    width: 20vw;
    height: 20vw;
  }
}

.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
  display: none;
}

.menu.active {
  background-color: #a1c143;
}

.l-menu {
  width: 0vw;
  height: 0vw;
  position: fixed;
  top: 1vw;
  right: 2vw;
  z-index: 5;
  background-color: #1c72b2;
  border-radius: 50%;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.l-menu a {
  text-decoration: none;
}

.l-menu .menu-list {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  list-style: none;
}

.l-menu .menu-list li {
  list-style: none;
}

.l-menu .menu-list li a span {
  font-size: 1.18vw;
  color: #fff;
  font-weight: 700;
  display: block;
  line-height: 3;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.l-menu .menu-list li a span:hover {
  color: #b8cad3;
}

.l-menu.active {
  width: 25vw;
  height: 25vw;
  opacity: 1;
}

.l-menu.active li a span {
  opacity: 1;
}

@media (max-width: 1200px) {
  .l-menu.active {
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 992px) {
  .l-menu.active {
    width: 32vw;
    height: 32vw;
  }
}

@media (max-width: 768px) {
  .l-menu.active {
    width: 34vw;
    height: 34vw;
  }
}

@media (max-width: 576px) {
  .l-menu.active {
    width: 38vw;
    height: 38vw;
  }
}

.wholeMap {
  background-color: #80c5d6;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.wholeMap .logo {
  position: absolute;
  top: 4%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (max-width: 1600px) {
  .wholeMap .logo {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .wholeMap .logo {
    width: 30%;
  }
}

@media (max-width: 576px) {
  .wholeMap .logo {
    width: 40%;
    top: 10%;
  }
}

.wholeMap .east {
  position: absolute;
  top: 36%;
  right: 2%;
}

@media (max-width: 1600px) {
  .wholeMap .east {
    width: 419px;
  }
}

@media (max-width: 1200px) {
  .wholeMap .east {
    width: 373px;
    top: 34%;
  }
}

@media (max-width: 768px) {
  .wholeMap .east {
    width: 250px;
  }
}

@media (max-width: 576px) {
  .wholeMap .east {
    width: 175px;
    right: 1%;
  }
}

@media (max-width: 1600px) {
  .wholeMap .east .east-img {
    width: 100%;
  }
}

.wholeMap .east .east-hint {
  position: absolute;
  top: -5%;
  right: 10%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

@media (max-width: 1600px) {
  .wholeMap .east .east-hint {
    top: -12%;
  }
}

@media (max-width: 768px) {
  .wholeMap .east .east-hint {
    top: -20%;
    right: 10%;
  }
}

@media (max-width: 576px) {
  .wholeMap .east .east-hint {
    top: -30%;
    right: 10%;
  }
}

.wholeMap .west {
  position: absolute;
  top: 52%;
  right: 35%;
}

@media (max-width: 1600px) {
  .wholeMap .west {
    width: 266px;
  }
}

@media (max-width: 1200px) {
  .wholeMap .west {
    width: 237px;
    top: 50%;
  }
}

@media (max-width: 768px) {
  .wholeMap .west {
    width: 203px;
  }
}

@media (max-width: 576px) {
  .wholeMap .west {
    width: 142px;
    right: 30%;
  }
}

@media (max-width: 1600px) {
  .wholeMap .west .west-img {
    width: 100%;
  }
}

.wholeMap .west .west-hint {
  position: absolute;
  top: -20%;
  right: 8%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

@media (max-width: 1600px) {
  .wholeMap .west .west-hint {
    top: -32%;
  }
}

@media (max-width: 768px) {
  .wholeMap .west .west-hint {
    top: -40%;
    right: 10%;
  }
}

.wholeMap .littleEast {
  position: absolute;
  top: 38%;
  left: 17%;
}

@media (max-width: 1600px) {
  .wholeMap .littleEast {
    width: 280px;
  }
}

@media (max-width: 1200px) {
  .wholeMap .littleEast {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .wholeMap .littleEast {
    width: 213px;
  }
}

@media (max-width: 576px) {
  .wholeMap .littleEast {
    width: 149px;
    left: 5%;
    top: 37%;
  }
}

@media (max-width: 1600px) {
  .wholeMap .littleEast .littleEast-img {
    width: 100%;
  }
}

.wholeMap .littleEast .littleEast-hint {
  position: absolute;
  top: -60%;
  left: 70%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

@media (max-width: 1600px) {
  .wholeMap .littleEast .littleEast-hint {
    top: -93%;
    left: 60%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .littleEast .littleEast-hint {
    top: -80%;
    left: 62%;
  }
}

@media (max-width: 768px) {
  .wholeMap .littleEast .littleEast-hint {
    top: -90%;
    left: 65%;
  }
}

.wholeMap .littleWest {
  position: absolute;
  top: 23%;
  left: 16%;
}

@media (max-width: 1600px) {
  .wholeMap .littleWest {
    width: 174px;
  }
}

@media (max-width: 1200px) {
  .wholeMap .littleWest {
    width: 155px;
  }
}

@media (max-width: 768px) {
  .wholeMap .littleWest {
    width: 132px;
  }
}

@media (max-width: 576px) {
  .wholeMap .littleWest {
    width: 92px;
    left: 13%;
    top: 25%;
  }
}

@media (max-width: 1600px) {
  .wholeMap .littleWest .littleWest-img {
    width: 100%;
  }
}

.wholeMap .littleWest .littleWest-hint {
  position: absolute;
  top: -55%;
  left: 50%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

@media (max-width: 1600px) {
  .wholeMap .littleWest .littleWest-hint {
    top: -80%;
    left: 38%;
  }
}

@media (max-width: 768px) {
  .wholeMap .littleWest .littleWest-hint {
    top: -90%;
    left: 40%;
  }
}

.wholeMap .island1 {
  position: absolute;
  top: 12%;
  left: 5%;
}

@media (max-width: 1600px) {
  .wholeMap .island1 {
    top: 11%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island1 {
    left: 3%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island1 {
    top: 8%;
    left: 0;
  }
}

@media (max-width: 576px) {
  .wholeMap .island1 {
    top: 10%;
  }
}

.wholeMap .island1 .island1-hint {
  position: absolute;
  top: -120%;
  left: 0%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .island1 .island1-hint {
    top: -80%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island1 .island1-hint {
    top: -70%;
    left: 5%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island1 .island1-hint {
    top: -90%;
    left: 5%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island1 .island1-hint {
    top: -150%;
  }
}

.wholeMap .island1:hover .island1-hint {
  opacity: 1;
}

.wholeMap .island2 {
  position: absolute;
  top: 18%;
  left: 14%;
}

@media (max-width: 1600px) {
  .wholeMap .island2 {
    top: 17%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island2 {
    left: 12%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island2 {
    top: 15%;
    left: 10%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island2 {
    left: 15%;
  }
}

.wholeMap .island2 .island2-hint {
  position: absolute;
  top: -195%;
  left: 5%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .island2 .island2-hint {
    top: -160%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island2 .island2-hint {
    top: -145%;
    left: 7%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island2 .island2-hint {
    top: -150%;
    left: 15%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island2 .island2-hint {
    top: -190%;
    left: 5%;
  }
}

.wholeMap .island2:hover .island2-hint {
  opacity: 1;
}

.wholeMap .island3 {
  position: absolute;
  top: 39%;
  left: 13%;
}

@media (max-width: 1600px) {
  .wholeMap .island3 {
    top: 36%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island3 {
    top: 35%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island3 {
    top: 33%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island3 {
    left: 8%;
    top: 31%;
  }
}

.wholeMap .island3 .island3-hint {
  position: absolute;
  top: -210%;
  left: -10%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .island3 .island3-hint {
    top: -165%;
    left: 0%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island3 .island3-hint {
    top: -150%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island3 .island3-hint {
    top: -170%;
    left: 5%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island3 .island3-hint {
    top: -220%;
    left: -5%;
  }
}

.wholeMap .island3:hover .island3-hint {
  opacity: 1;
}

.wholeMap .island4 {
  position: absolute;
  top: 53%;
  left: 26%;
}

@media (max-width: 1600px) {
  .wholeMap .island4 {
    top: 50%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island4 {
    top: 46%;
    left: 28%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island4 {
    top: 42%;
  }
}

.wholeMap .island4 .island4-hint {
  position: absolute;
  top: -420%;
  left: -80%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .island4 .island4-hint {
    top: -330%;
    left: -60%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island4 .island4-hint {
    top: -310%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island4 .island4-hint {
    left: -30%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island4 .island4-hint {
    top: -260%;
  }
}

.wholeMap .island4:hover .island4-hint {
  opacity: 1;
}

.wholeMap .island5 {
  position: absolute;
  top: 55%;
  left: 6%;
}

@media (max-width: 1600px) {
  .wholeMap .island5 {
    top: 53%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island5 {
    top: 52%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island5 {
    top: 48%;
    left: 3%;
  }
}

.wholeMap .island5 .island5-hint {
  position: absolute;
  top: -160%;
  left: -10%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .island5 .island5-hint {
    top: -130%;
    left: 0;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island5 .island5-hint {
    top: -115%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island5 .island5-hint {
    top: -130%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island5 .island5-hint {
    top: -180%;
    left: -5%;
  }
}

.wholeMap .island5:hover .island5-hint {
  opacity: 1;
}

.wholeMap .island6 {
  position: absolute;
  top: 60%;
  left: 17%;
}

@media (max-width: 1600px) {
  .wholeMap .island6 {
    top: 59%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island6 {
    top: 58%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island6 {
    left: 12%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island6 {
    top: 55%;
  }
}

.wholeMap .island6 .island6-hint {
  position: absolute;
  top: -160%;
  left: -10%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .island6 .island6-hint {
    top: -120%;
    left: 0%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island6 .island6-hint {
    top: -110%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island6 .island6-hint {
    top: -120%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island6 .island6-hint {
    top: -170%;
    left: -5%;
  }
}

.wholeMap .island6:hover .island6-hint {
  opacity: 1;
}

.wholeMap .island7 {
  position: absolute;
  top: 55%;
  left: 32%;
}

@media (max-width: 1600px) {
  .wholeMap .island7 {
    top: 54%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island7 {
    top: 53%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island7 {
    top: 52%;
    left: 30%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island7 {
    top: 47%;
  }
}

.wholeMap .island7 .island7-hint {
  position: absolute;
  top: -140%;
  left: 0%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .island7 .island7-hint {
    top: -110%;
    left: 3%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island7 .island7-hint {
    top: -95%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island7 .island7-hint {
    top: -110%;
    left: 8%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island7 .island7-hint {
    top: -150%;
    left: 0%;
  }
}

.wholeMap .island7:hover .island7-hint {
  opacity: 1;
}

.wholeMap .island8 {
  position: absolute;
  top: 45%;
  right: 26%;
}

@media (max-width: 1600px) {
  .wholeMap .island8 {
    right: 22%;
    top: 44%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island8 {
    top: 41%;
    right: 24%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island8 {
    top: 37%;
    right: 21%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island8 {
    right: 10%;
  }
}

.wholeMap .island8 .island8-hint {
  position: absolute;
  top: -190%;
  right: 0%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .island8 .island8-hint {
    right: 15%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island8 .island8-hint {
    top: -180%;
    right: 35%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island8 .island8-hint {
    top: -182%;
    right: 41%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island8 .island8-hint {
    top: -260%;
    right: 65%;
  }
}

.wholeMap .island8:hover .island8-hint {
  opacity: 1;
}

@media (max-width: 1600px) {
  .wholeMap .island8 .island8-img {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .island8 .island8-img {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .wholeMap .island8 .island8-img {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .wholeMap .island8 .island8-img {
    width: 30%;
  }
}

.wholeMap .fish-l {
  position: absolute;
  top: 30%;
  left: 4%;
}

@media (max-width: 576px) {
  .wholeMap .fish-l {
    top: 17%;
  }
}

.wholeMap .fish-r {
  position: absolute;
  top: 73%;
  right: 30%;
}

@media (max-width: 1600px) {
  .wholeMap .fish-r {
    top: 66%;
    right: 26%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .fish-r {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .wholeMap .fish-r {
    top: 55%;
    right: 10%;
  }
}

@media (max-width: 576px) {
  .wholeMap .fish-r {
    top: 50%;
    left: 70%;
    width: 100px;
  }
}

@media (max-width: 1200px) {
  .wholeMap .fish-r .fish-r-img {
    width: 100%;
  }
}

.wholeMap .rock {
  position: absolute;
  bottom: 15%;
  left: 6%;
}

@media (max-width: 1600px) {
  .wholeMap .rock {
    width: 85px;
    bottom: 13%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .rock {
    width: 74px;
    bottom: 12%;
    left: 4%;
  }
}

@media (max-width: 768px) {
  .wholeMap .rock {
    left: 3%;
  }
}

@media (max-width: 576px) {
  .wholeMap .rock {
    bottom: 17%;
    left: 8%;
    width: 59px;
  }
}

@media (max-width: 1600px) {
  .wholeMap .rock .rock-img {
    width: 100%;
  }
}

.wholeMap .rock .rock-hint {
  position: absolute;
  bottom: 110%;
  left: -20%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .rock .rock-hint {
    bottom: 80%;
  }
}

@media (max-width: 768px) {
  .wholeMap .rock .rock-hint {
    bottom: 55%;
    left: 0;
  }
}

@media (max-width: 576px) {
  .wholeMap .rock .rock-hint {
    bottom: 32%;
    left: -15%;
    opacity: 1;
  }
}

.wholeMap .rock .rock-shadow {
  position: absolute;
  bottom: -55%;
  left: -35%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .rock .rock-shadow {
    bottom: -60%;
    left: -50%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .rock .rock-shadow {
    width: 170%;
    bottom: -65%;
    left: -35%;
  }
}

@media (max-width: 576px) {
  .wholeMap .rock .rock-shadow {
    left: -32%;
    width: 170%;
    bottom: -68%;
    opacity: 1;
  }
}

.wholeMap .rock:hover .rock-hint {
  opacity: 1;
}

.wholeMap .rock:hover .rock-shadow {
  opacity: 1;
}

.wholeMap .animal {
  position: absolute;
  bottom: 15%;
  left: 15%;
}

@media (max-width: 1600px) {
  .wholeMap .animal {
    width: 109px;
    bottom: 13%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .animal {
    width: 95px;
  }
}

@media (max-width: 768px) {
  .wholeMap .animal {
    left: 17.5%;
  }
}

@media (max-width: 576px) {
  .wholeMap .animal {
    bottom: 18%;
    left: 30%;
    width: 76px;
  }
}

.wholeMap .animal .animal-img {
  width: 100%;
}

.wholeMap .animal .animal-hint {
  position: absolute;
  bottom: 200%;
  left: 0%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .animal .animal-hint {
    bottom: 140%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .animal .animal-hint {
    left: -10%;
    bottom: 130%;
  }
}

@media (max-width: 768px) {
  .wholeMap .animal .animal-hint {
    bottom: 85%;
    left: 10%;
  }
}

@media (max-width: 576px) {
  .wholeMap .animal .animal-hint {
    bottom: 35%;
    left: -5%;
    opacity: 1;
  }
}

.wholeMap .animal .animal-shadow {
  position: absolute;
  bottom: -100%;
  left: -20%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .animal .animal-shadow {
    bottom: -110%;
    left: -25%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .animal .animal-shadow {
    width: 145%;
    bottom: -150%;
  }
}

@media (max-width: 768px) {
  .wholeMap .animal .animal-shadow {
    left: -15%;
    bottom: -140%;
  }
}

@media (max-width: 576px) {
  .wholeMap .animal .animal-shadow {
    left: -25%;
    width: 150%;
    bottom: -150%;
    opacity: 1;
  }
}

.wholeMap .animal:hover .animal-hint {
  opacity: 1;
}

.wholeMap .animal:hover .animal-shadow {
  opacity: 1;
}

.wholeMap .plant {
  position: absolute;
  bottom: 15%;
  left: 25%;
}

@media (max-width: 1600px) {
  .wholeMap .plant {
    width: 90px;
    bottom: 13%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .plant {
    width: 78px;
    left: 27%;
    bottom: 12%;
  }
}

@media (max-width: 768px) {
  .wholeMap .plant {
    left: 35%;
  }
}

@media (max-width: 576px) {
  .wholeMap .plant {
    bottom: 17%;
    left: 55%;
    width: 62px;
  }
}

.wholeMap .plant .plant-img {
  width: 100%;
}

.wholeMap .plant .plant-hint {
  position: absolute;
  bottom: 110%;
  left: 0%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .plant .plant-hint {
    bottom: 80%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .plant .plant-hint {
    left: -10%;
  }
}

@media (max-width: 768px) {
  .wholeMap .plant .plant-hint {
    bottom: 59%;
    left: 0%;
  }
}

@media (max-width: 576px) {
  .wholeMap .plant .plant-hint {
    bottom: 35%;
    left: -8%;
    opacity: 1;
  }
}

.wholeMap .plant .plant-shadow {
  position: absolute;
  bottom: -50%;
  left: 9%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .plant .plant-shadow {
    bottom: -60%;
    left: 0;
  }
}

@media (max-width: 1200px) {
  .wholeMap .plant .plant-shadow {
    left: 12%;
    bottom: -55%;
  }
}

@media (max-width: 768px) {
  .wholeMap .plant .plant-shadow {
    left: 25%;
    bottom: -45%;
  }
}

@media (max-width: 576px) {
  .wholeMap .plant .plant-shadow {
    left: 20%;
    width: 90%;
    bottom: -55%;
    opacity: 1;
  }
}

.wholeMap .plant:hover .plant-hint {
  opacity: 1;
}

.wholeMap .plant:hover .plant-shadow {
  opacity: 1;
}

.wholeMap .carol {
  position: absolute;
  bottom: 15%;
  left: 35%;
}

@media (max-width: 1600px) {
  .wholeMap .carol {
    width: 96px;
    bottom: 13%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .carol {
    width: 84px;
    left: 38%;
    bottom: 12%;
  }
}

@media (max-width: 768px) {
  .wholeMap .carol {
    width: 80px;
    left: 50%;
  }
}

@media (max-width: 576px) {
  .wholeMap .carol {
    bottom: 17%;
    left: 76%;
    width: 67px;
  }
}

.wholeMap .carol .carol-img {
  width: 100%;
}

.wholeMap .carol .carol-hint {
  position: absolute;
  bottom: 110%;
  left: 0%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .carol .carol-hint {
    bottom: 80%;
  }
}

@media (max-width: 768px) {
  .wholeMap .carol .carol-hint {
    bottom: 63%;
  }
}

@media (max-width: 576px) {
  .wholeMap .carol .carol-hint {
    bottom: 35%;
    left: 2%;
    opacity: 1;
  }
}

.wholeMap .carol .carol-shadow {
  position: absolute;
  bottom: -50%;
  left: 9%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .wholeMap .carol .carol-shadow {
    bottom: -60%;
    left: 0%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .carol .carol-shadow {
    left: 13%;
    bottom: -58%;
  }
}

@media (max-width: 768px) {
  .wholeMap .carol .carol-shadow {
    bottom: -45%;
    left: 22%;
  }
}

@media (max-width: 576px) {
  .wholeMap .carol .carol-shadow {
    left: 10%;
    width: 90%;
    bottom: -55%;
    opacity: 1;
  }
}

.wholeMap .carol:hover .carol-hint {
  opacity: 1;
}

.wholeMap .carol:hover .carol-shadow {
  opacity: 1;
}

.wholeMap .birds {
  position: absolute;
  top: 12%;
  right: 27%;
}

@media (max-width: 1200px) {
  .wholeMap .birds {
    top: 5%;
    right: 15%;
  }
}

@media (max-width: 768px) {
  .wholeMap .birds {
    width: 25%;
  }
}

@media (max-width: 576px) {
  .wholeMap .birds {
    top: 5%;
    right: 5%;
    width: 50%;
  }
}

.wholeMap .cloud {
  position: absolute;
  top: 17%;
  right: 1%;
}

@media (max-width: 1200px) {
  .wholeMap .cloud {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .wholeMap .cloud {
    width: 35%;
  }
}

@media (max-width: 576px) {
  .wholeMap .cloud {
    width: 50%;
    right: 5%;
    width: 150px;
  }
}

@media (max-width: 1200px) {
  .wholeMap .cloud .cloud-img {
    width: 100%;
  }
}

.wholeMap .boat {
  position: absolute;
  bottom: 8%;
  right: 12%;
  z-index: 1;
}

@media (max-width: 1600px) {
  .wholeMap .boat {
    right: 15%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .boat {
    bottom: 4%;
  }
}

@media (max-width: 768px) {
  .wholeMap .boat {
    bottom: 2%;
    right: 5%;
  }
}

@media (max-width: 576px) {
  .wholeMap .boat {
    width: 50%;
    right: 25%;
  }
}

.wholeMap .email {
  position: absolute;
  bottom: 15%;
  right: 2%;
}

@media (max-width: 768px) {
  .wholeMap .email {
    bottom: 12%;
    right: 1%;
  }
}

@media (max-width: 576px) {
  .wholeMap .email {
    bottom: 6%;
    right: 15%;
  }
}

.wholeMap .fb {
  position: absolute;
  bottom: 15%;
  right: 6%;
}

@media (max-width: 1600px) {
  .wholeMap .fb {
    right: 8%;
  }
}

@media (max-width: 1200px) {
  .wholeMap .fb {
    right: 10%;
  }
}

@media (max-width: 768px) {
  .wholeMap .fb {
    bottom: 12%;
  }
}

@media (max-width: 576px) {
  .wholeMap .fb {
    right: 30%;
    bottom: 6%;
  }
}

.wholeMap .wave {
  width: 100vw;
  position: absolute;
  bottom: 0;
}

@media (max-width: 1200px) {
  .wholeMap .box img {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .wholeMap .box img {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .wholeMap .box img {
    width: 45%;
  }
}

@media (max-width: 1600px) {
  .wholeMap .box .hint {
    width: 85px;
  }
}

@media (max-width: 1200px) {
  .wholeMap .box .hint {
    width: 70px;
    font-size: 16px;
    line-height: 70px;
  }
}

@media (max-width: 768px) {
  .wholeMap .box .hint {
    width: 60px;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 0;
  }
}

@media (max-width: 576px) {
  .wholeMap .box .hint {
    width: 50px;
    font-size: 12px;
    line-height: 50px;
    letter-spacing: 0;
  }
}

@media (max-width: 1600px) {
  .wholeMap .box .others-hint {
    width: 115px;
    font-size: 18px;
    line-height: 70px;
  }
}

@media (max-width: 1200px) {
  .wholeMap .box .others-hint {
    width: 100px;
    font-size: 16px;
    line-height: 50px;
  }
}

@media (max-width: 768px) {
  .wholeMap .box .others-hint {
    width: 90px;
    font-size: 14px;
    line-height: 50px;
  }
}

@media (max-width: 576px) {
  .wholeMap .box .others-hint {
    width: 70px;
    font-size: 12px;
    line-height: 35px;
  }
}
/*# sourceMappingURL=index.css.map */