@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgb(22, 49, 81); */
  background: black;
  z-index: 999;
}

.loading {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-75px, -75px);
          transform: translate(-75px, -75px);
  border-radius: 100px;
}

.menu {
  width: 100%;
  position: fixed;
  top: -30px;
  right: -30px;
  width: 10vw;
  height: 10vw;
  background-color: #de675e;
  text-shadow: none;
  border-radius: 50%;
  z-index: 101;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu .menu-btn {
  width: 100%;
  height: 100%;
}

.menu .menu-btn .menu-btnline {
  position: absolute;
  top: 40%;
  right: 50%;
  font-size: 10px;
  display: block;
}

.menu .menu-btn .menu-text {
  position: absolute;
  top: 55%;
  right: 45%;
  display: block;
  font-size: 1vw;
}

.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
  display: none;
}

.menu.active {
  background-color: #a1c143;
}

.l-menu {
  width: 0vw;
  height: 0vw;
  position: fixed;
  top: 1vw;
  right: 2vw;
  z-index: 5;
  background-color: #1c72b2;
  border-radius: 50%;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.l-menu .menu-list {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  list-style: none;
}

.l-menu .menu-list li {
  list-style: none;
}

.l-menu .menu-list li a span {
  font-size: 1.18vw;
  color: #fff;
  display: block;
  line-height: 3;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.l-menu.active {
  width: 25vw;
  height: 25vw;
  opacity: 1;
}

.l-menu.active li a span {
  opacity: 1;
}

.wholeMap {
  background-color: #80c5d6;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.wholeMap .logo {
  position: absolute;
  top: 4%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (max-width: 1024px) {
  .wholeMap .logo {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wholeMap .logo {
    width: 30%;
  }
}

.wholeMap .east {
  position: absolute;
  top: 36%;
  right: 2%;
}

@media (max-width: 768px) {
  .wholeMap .east {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .wholeMap .east .east-img {
    width: 100%;
  }
}

.wholeMap .east .east-hint {
  position: absolute;
  top: -5%;
  right: 10%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

@media (max-width: 768px) {
  .wholeMap .east .east-hint {
    top: -20%;
    right: 10%;
  }
}

.wholeMap .west {
  position: absolute;
  top: 52%;
  right: 35%;
}

@media (max-width: 768px) {
  .wholeMap .west {
    width: 203px;
  }
}

@media (max-width: 768px) {
  .wholeMap .west .west-img {
    width: 100%;
  }
}

.wholeMap .west .west-hint {
  position: absolute;
  top: -20%;
  right: 8%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

@media (max-width: 768px) {
  .wholeMap .west .west-hint {
    top: -30%;
    right: 10%;
  }
}

.wholeMap .littleEast {
  position: absolute;
  top: 38%;
  left: 17%;
}

@media (max-width: 768px) {
  .wholeMap .littleEast {
    width: 213px;
  }
}

@media (max-width: 768px) {
  .wholeMap .littleEast .littleEast-img {
    width: 100%;
  }
}

.wholeMap .littleEast .littleEast-hint {
  position: absolute;
  top: -60%;
  left: 70%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

@media (max-width: 768px) {
  .wholeMap .littleEast .littleEast-hint {
    top: -80%;
    left: 65%;
  }
}

.wholeMap .littleWest {
  position: absolute;
  top: 23%;
  left: 16%;
}

@media (max-width: 768px) {
  .wholeMap .littleWest {
    width: 132px;
  }
}

@media (max-width: 768px) {
  .wholeMap .littleWest .littleWest-img {
    width: 100%;
  }
}

.wholeMap .littleWest .littleWest-hint {
  position: absolute;
  top: -55%;
  left: 50%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

@media (max-width: 768px) {
  .wholeMap .littleWest .littleWest-hint {
    top: -70%;
    left: 40%;
  }
}

.wholeMap .island1 {
  position: absolute;
  top: 12%;
  left: 5%;
}

@media (max-width: 768px) {
  .wholeMap .island1 {
    top: 6%;
    left: 0;
  }
}

.wholeMap .island1 .island1-hint {
  position: absolute;
  top: -120%;
  left: 0%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .wholeMap .island1 .island1-hint {
    top: -70%;
    left: 5%;
  }
}

.wholeMap .island1:hover .island1-hint {
  opacity: 1;
}

.wholeMap .island2 {
  position: absolute;
  top: 18%;
  left: 14%;
}

@media (max-width: 768px) {
  .wholeMap .island2 {
    top: 15%;
    left: 10%;
  }
}

.wholeMap .island2 .island2-hint {
  position: absolute;
  top: -195%;
  left: 5%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .wholeMap .island2 .island2-hint {
    top: -125%;
    left: 25%;
  }
}

.wholeMap .island2:hover .island2-hint {
  opacity: 1;
}

.wholeMap .island3 {
  position: absolute;
  top: 39%;
  left: 13%;
}

@media (max-width: 768px) {
  .wholeMap .island3 {
    top: 33%;
  }
}

.wholeMap .island3 .island3-hint {
  position: absolute;
  top: -210%;
  left: -10%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .wholeMap .island3 .island3-hint {
    top: -150%;
    left: 5%;
  }
}

.wholeMap .island3:hover .island3-hint {
  opacity: 1;
}

.wholeMap .island4 {
  position: absolute;
  top: 51%;
  left: 26%;
}

@media (max-width: 768px) {
  .wholeMap .island4 {
    top: 45%;
    left: 28%;
  }
}

.wholeMap .island4 .island4-hint {
  position: absolute;
  top: -420%;
  left: -80%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .wholeMap .island4 .island4-hint {
    top: -300%;
    left: -25%;
  }
}

.wholeMap .island4:hover .island4-hint {
  opacity: 1;
}

.wholeMap .island5 {
  position: absolute;
  top: 55%;
  left: 6%;
}

@media (max-width: 768px) {
  .wholeMap .island5 {
    top: 50%;
    left: 3%;
  }
}

.wholeMap .island5 .island5-hint {
  position: absolute;
  top: -160%;
  left: -10%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .wholeMap .island5 .island5-hint {
    top: -115%;
    left: 0;
  }
}

.wholeMap .island5:hover .island5-hint {
  opacity: 1;
}

.wholeMap .island6 {
  position: absolute;
  top: 60%;
  left: 17%;
}

@media (max-width: 768px) {
  .wholeMap .island6 {
    left: 12%;
  }
}

.wholeMap .island6 .island6-hint {
  position: absolute;
  top: -160%;
  left: -10%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .wholeMap .island6 .island6-hint {
    top: -110%;
    left: 0;
  }
}

.wholeMap .island6:hover .island6-hint {
  opacity: 1;
}

.wholeMap .island7 {
  position: absolute;
  top: 55%;
  left: 32%;
}

@media (max-width: 768px) {
  .wholeMap .island7 {
    top: 52%;
    left: 30%;
  }
}

.wholeMap .island7 .island7-hint {
  position: absolute;
  top: -140%;
  left: 0%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .wholeMap .island7 .island7-hint {
    top: -90%;
    left: 10%;
  }
}

.wholeMap .island7:hover .island7-hint {
  opacity: 1;
}

.wholeMap .island8 {
  position: absolute;
  top: 47%;
  right: 23%;
}

@media (max-width: 768px) {
  .wholeMap .island8 {
    top: 39%;
    right: 19%;
  }
}

.wholeMap .island8 .island8-hint {
  position: absolute;
  top: -190%;
  right: 0%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .wholeMap .island8 .island8-hint {
    top: -180%;
    right: 40%;
  }
}

.wholeMap .island8:hover .island8-hint {
  opacity: 1;
}

@media (max-width: 768px) {
  .wholeMap .island8 .island8-img {
    width: 60%;
  }
}

.wholeMap .fish-l {
  position: absolute;
  top: 30%;
  left: 4%;
}

.wholeMap .fish-r {
  position: absolute;
  top: 73%;
  right: 30%;
}

@media (max-width: 768px) {
  .wholeMap .fish-r {
    top: 65%;
    right: 15%;
  }
}

.wholeMap .rock {
  position: absolute;
  bottom: 15%;
  left: 6%;
}

@media (max-width: 768px) {
  .wholeMap .rock {
    bottom: 10%;
    left: 4%;
  }
}

.wholeMap .rock .rock-hint {
  position: absolute;
  bottom: 110%;
  left: -20%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wholeMap .rock .rock-shadow {
  position: absolute;
  bottom: -55%;
  left: -35%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wholeMap .rock:hover .rock-hint {
  opacity: 1;
}

.wholeMap .rock:hover .rock-shadow {
  opacity: 1;
}

.wholeMap .animal {
  position: absolute;
  bottom: 15%;
  left: 15%;
}

@media (max-width: 768px) {
  .wholeMap .animal {
    bottom: 10%;
    left: 16%;
  }
}

.wholeMap .animal .animal-hint {
  position: absolute;
  bottom: 200%;
  left: 0%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wholeMap .animal .animal-shadow {
  position: absolute;
  bottom: -100%;
  left: -20%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wholeMap .animal:hover .animal-hint {
  opacity: 1;
}

.wholeMap .animal:hover .animal-shadow {
  opacity: 1;
}

.wholeMap .plant {
  position: absolute;
  bottom: 15%;
  left: 25%;
}

@media (max-width: 768px) {
  .wholeMap .plant {
    bottom: 10%;
    left: 31%;
  }
}

.wholeMap .plant .plant-hint {
  position: absolute;
  bottom: 110%;
  left: 0%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wholeMap .plant .plant-shadow {
  position: absolute;
  bottom: -50%;
  left: 9%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wholeMap .plant:hover .plant-hint {
  opacity: 1;
}

.wholeMap .plant:hover .plant-shadow {
  opacity: 1;
}

.wholeMap .carol {
  position: absolute;
  bottom: 15%;
  left: 35%;
}

@media (max-width: 768px) {
  .wholeMap .carol {
    bottom: 10%;
    left: 43%;
  }
}

.wholeMap .carol .carol-hint {
  position: absolute;
  bottom: 110%;
  left: 0%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wholeMap .carol .carol-shadow {
  position: absolute;
  bottom: -50%;
  left: 9%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wholeMap .carol:hover .carol-hint {
  opacity: 1;
}

.wholeMap .carol:hover .carol-shadow {
  opacity: 1;
}

.wholeMap .birds {
  position: absolute;
  top: 12%;
  right: 27%;
}

@media (max-width: 768px) {
  .wholeMap .birds {
    width: 15%;
  }
}

.wholeMap .cloud {
  position: absolute;
  top: 17%;
  right: 1%;
}

@media (max-width: 768px) {
  .wholeMap .cloud {
    width: 30%;
  }
}

.wholeMap .boat {
  position: absolute;
  bottom: 8%;
  right: 12%;
  z-index: 1;
}

@media (max-width: 768px) {
  .wholeMap .boat {
    bottom: 3%;
  }
}

.wholeMap .email {
  position: absolute;
  bottom: 15%;
  right: 2%;
}

@media (max-width: 768px) {
  .wholeMap .email {
    bottom: 10%;
  }
}

.wholeMap .fb {
  position: absolute;
  bottom: 15%;
  right: 11%;
}

@media (max-width: 768px) {
  .wholeMap .fb {
    bottom: 10%;
  }
}

.wholeMap .wave {
  width: 100vw;
  position: absolute;
  bottom: 0;
}

@media (max-width: 1024px) {
  .wholeMap .box img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .wholeMap .box .hint {
    width: 60px;
    font-size: 16px;
    line-height: 70px;
  }
}

@media (max-width: 768px) {
  .wholeMap .box .others-hint {
    width: 95px;
    font-size: 16px;
    line-height: 50px;
  }
}
/*# sourceMappingURL=index.css.map */