@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgb(22, 49, 81); */
  background: black;
  z-index: 999;
}

.loading {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-75px, -75px);
          transform: translate(-75px, -75px);
  border-radius: 100px;
}

.menu {
  width: 100%;
  position: fixed;
  top: -30px;
  right: -30px;
  width: 10vw;
  height: 10vw;
  background-color: #de675e;
  text-shadow: none;
  border-radius: 50%;
  z-index: 101;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu .menu-btn {
  width: 100%;
  height: 100%;
}

.menu .menu-btn .menu-btnline {
  position: absolute;
  top: 40%;
  right: 50%;
  font-size: 10px;
  display: block;
}

.menu .menu-btn .menu-text {
  position: absolute;
  top: 55%;
  right: 45%;
  display: block;
  font-size: 1vw;
}

.menu-btnline.active,
.menu-text.active,
.menu-btn.active {
  display: none;
}

.menu.active {
  background-color: #a1c143;
}

.l-menu {
  width: 0vw;
  height: 0vw;
  position: fixed;
  top: 1vw;
  right: 2vw;
  z-index: 5;
  background-color: #1c72b2;
  border-radius: 50%;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.l-menu .menu-list {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  list-style: none;
}

.l-menu .menu-list li {
  list-style: none;
}

.l-menu .menu-list li a span {
  font-size: 1.18vw;
  color: #fff;
  display: block;
  line-height: 3;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.l-menu.active {
  width: 25vw;
  height: 25vw;
  opacity: 1;
}

.l-menu.active li a span {
  opacity: 1;
}

.wholeMap {
  background-color: #80c5d6;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.wholeMap .logo {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.wholeMap .east {
  position: absolute;
  top: 38%;
  right: 5%;
  -webkit-filter: drop-shadow(40px 40px 10px #59a7b3);
          filter: drop-shadow(40px 40px 10px #59a7b3);
}

.wholeMap .east-shadow {
  position: absolute;
  top: 40%;
  right: 1%;
}

.wholeMap .east-hint {
  position: absolute;
  top: 35%;
  right: 7%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

.wholeMap .west {
  position: absolute;
  top: 52%;
  right: 36%;
}

.wholeMap .west-shadow {
  position: absolute;
  top: 53%;
  right: 34%;
}

.wholeMap .west-hint {
  position: absolute;
  top: 46%;
  right: 37%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

.wholeMap .littleEast {
  position: absolute;
  top: 40%;
  left: 18%;
}

.wholeMap .littleEast-shadow {
  position: absolute;
  top: 40%;
  left: 16%;
}

.wholeMap .littleEast-hint {
  position: absolute;
  top: 27%;
  left: 31%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

.wholeMap .littleWest {
  position: absolute;
  top: 25%;
  left: 18%;
}

.wholeMap .littleWest-shadow {
  position: absolute;
  top: 25%;
  left: 15%;
}

.wholeMap .littleWest-hint {
  position: absolute;
  top: 14%;
  left: 21%;
  background-image: url(../img/00頁首/四島地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  color: white;
}

.wholeMap .island1 {
  position: absolute;
  top: 6%;
  left: 7%;
}

.wholeMap .island1-hint {
  position: absolute;
  top: 0%;
  left: 5%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0.5;
  -webkit-transition: 1s;
  transition: 1s;
  width: 80px;
}

.wholeMap .island2 {
  position: absolute;
  top: 15%;
  left: 15%;
}

.wholeMap .island2-hint {
  position: absolute;
  top: 1%;
  left: 14%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0.5;
  -webkit-transition: 1s;
  transition: 1s;
}

.wholeMap .island3 {
  position: absolute;
  top: 40%;
  left: 14%;
}

.wholeMap .island3-hint {
  position: absolute;
  top: 25%;
  left: 12%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0.5;
  -webkit-transition: 1s;
  transition: 1s;
}

.wholeMap .island4 {
  position: absolute;
  top: 53%;
  left: 26%;
}

.wholeMap .island4-hint {
  position: absolute;
  top: 38%;
  left: 24%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0.5;
  -webkit-transition: 1s;
  transition: 1s;
}

.wholeMap .island5 {
  position: absolute;
  top: 55%;
  left: 6%;
}

.wholeMap .island5-hint {
  position: absolute;
  top: 40%;
  left: 4%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0.5;
  -webkit-transition: 1s;
  transition: 1s;
}

.wholeMap .island6 {
  position: absolute;
  top: 65%;
  left: 19%;
}

.wholeMap .island6-hint {
  position: absolute;
  top: 50%;
  left: 17%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0.5;
  -webkit-transition: 1s;
  transition: 1s;
}

.wholeMap .island7 {
  position: absolute;
  top: 58%;
  left: 33%;
}

.wholeMap .island7-hint {
  position: absolute;
  top: 44%;
  left: 32%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0.5;
  -webkit-transition: 1s;
  transition: 1s;
}

.wholeMap .island8 {
  position: absolute;
  top: 47%;
  right: 23%;
}

.wholeMap .island8-hint {
  position: absolute;
  top: 33%;
  right: 23%;
  background-image: url(../img/00頁首/附屬地標圖.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 165px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 100px;
  opacity: 0.5;
  -webkit-transition: 1s;
  transition: 1s;
}

.wholeMap .active {
  opacity: 1;
}

.wholeMap .fish-l {
  position: absolute;
  top: 30%;
  left: 4%;
}

.wholeMap .fish-r {
  position: absolute;
  top: 73%;
  right: 30%;
}

.wholeMap .rock {
  position: absolute;
  bottom: 15%;
  left: 6%;
}

.wholeMap .rock-hint {
  position: absolute;
  bottom: 27%;
  left: 5%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
}

.wholeMap .animal {
  position: absolute;
  bottom: 15%;
  left: 15%;
}

.wholeMap .animal-hint {
  position: absolute;
  bottom: 27%;
  left: 15%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
}

.wholeMap .plant {
  position: absolute;
  bottom: 15%;
  left: 25%;
}

.wholeMap .plant-hint {
  position: absolute;
  bottom: 27%;
  left: 25%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
}

.wholeMap .carol {
  position: absolute;
  bottom: 15%;
  left: 35%;
}

.wholeMap .carol-hint {
  position: absolute;
  bottom: 27%;
  left: 35%;
  background-image: url(../img/00頁首/生態hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 151px;
  height: 100px;
  font-size: larger;
  letter-spacing: 1px;
  text-align: center;
  line-height: 88px;
  color: white;
}

.wholeMap .birds {
  position: absolute;
  top: 12%;
  right: 27%;
}

.wholeMap .cloud {
  position: absolute;
  top: 20%;
  right: 1%;
}

.wholeMap .boat {
  position: absolute;
  bottom: 8%;
  right: 12%;
  z-index: 1;
}

.wholeMap .email {
  position: absolute;
  bottom: 15%;
  right: 2%;
}

.wholeMap .fb {
  position: absolute;
  bottom: 15%;
  right: 6%;
}

.wholeMap .wave {
  width: 100vw;
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=index.css.map */